@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647584747538') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shumajiadian:before {
  content: "\e689";
}

.icon-tukuxiangce:before {
  content: "\e60b";
}

.icon-luyin:before {
  content: "\e696";
}

.icon-shexiang2:before {
  content: "\e632";
}

.icon-weizhi:before {
  content: "\e6a8";
}

