<template>
	<div class="item">
		<div class="head">
			<van-row class="head-row">
				<van-col span="12">
					<div class="selectDate" @click="show = true">
						<span>2020年3月12日</span>
						<van-icon class="icon" name="arrow-down" color="rgba(0,0,0,0.45)" />
					</div>
				</van-col>
				<van-col span="12">
					<div class="selectDate" @click="selectShow = true">
						<span>帮扶措施</span>
						<van-icon class="icon" name="arrow-down" color="rgba(0,0,0,0.45)" />
					</div>
				</van-col>
			</van-row>
		</div>

		<div class="list">
			<div class="list-item" v-for="(item,index) in list" :key="index" @click="clickItem(item)">
				<div class="list-info">
					<div class="info-title">{{item.title}}</div>
					<div class="info-time">{{item.time}}</div>
				</div>
				<div class="list-arrow">
					<van-icon name="arrow" color="rgba(0,0,0,0.45)"/>
				</div>
			</div>
		</div>


		<van-popup v-model="show" position="bottom" :style="{ height: '40%' }">
			<van-datetime-picker v-model="currentDate" type="date" title="自定义列排序"
				:columns-order="['year','month', 'day']" :formatter="formatter" @confirm="confirm"
				@cancel="show = false" />
		</van-popup>
		<van-popup v-model="selectShow" position="bottom" :style="{ height: '30%' }">
			<van-picker title="标题" show-toolbar :columns="columns" @confirm="onConfirm" @cancel="selectShow = false"
				@change="onChange" />
		</van-popup>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				show: false,
				selectShow: false,
				currentDate: new Date(),
				columns: [{
						value: '1',
						text: '就业创业'
					},
					{
						value: '2',
						text: '困难救助'
					},
					{
						value: '3',
						text: '技能培训'
					},
					{
						value: '4',
						text: '创业贷款'
					}
				],
				list:[
					{
						title: '吸毒人员XXX申请创业就业帮扶',
						time: '走访日期:2020.03.14'
					},
					{
						title: '吸毒人员XXX申请创业就业帮扶',
						time: '走访日期:2020.03.14'
					}
				]
			}
		},
		methods: {
			formatter(type, val) {
				if (type === 'year') {
					return val + '年';
				}
				if (type === 'month') {
					return val + '月';
				}
				if (type === 'day') {
					return val + '日';
				}
				return val;
			},
			confirm(value) {
				console.log(value)
			},
			onConfirm(value) {
				console.log(value)
			},
			onChange(value) {
				console.log(value)
			},
			clickItem(value) {
				this.$router.push({
					path: '/bljg',
					query:{
						
					}
				})
			}
		}
	}
</script>

<style lang="less" scoped>
	.item {
		.head {
			padding: 12px 12px;

			.head-row {
				text-align: center;

				.selectDate {
					border: 1px solid rgba(0, 0, 0, 0.15);
					width: 80%;
					margin: 0 auto;
					border-radius: 6px;
					font-size: 14px;
					padding: 4px;

					.icon {
						padding-left: 4px;
					}
				}
			}
		}

		.list {
			padding: 0 20px;

			.list-item {
				display: flex;
				justify-content: center;
				align-items: center;
				box-shadow: 0 8px 40px 0 rgba(80,119,170,0.20);
				border-radius: 6px;
				padding: 12px 0;
				margin-bottom: 12px;
				.list-arrow {
					width: 32px;

				}

				.list-info {
					flex: 1;
					padding: 0px 12px;
					.info-title{
						font-size: 14px;
						padding: 4px 0;
					}
					.info-time{
						padding: 4px 0;
						color: rgba(0,0,0,0.45);
						font-size: 12px;
					}
				}
			}
		}
	}
</style>
