<template>
	<div class="item">
		<div>
			<div class="head">
				<h3>基础信息</h3>
			</div>
			<div class="info">
				<span>吸毒人员XXX申请了吸毒人员XXX申请了吸毒人员XXX申请了吸毒人员XXX申请了吸毒人员XXX申请了吸毒人员XXX申请了吸毒人员XXX申请了</span>
			</div>
			<div class="tag">
				<van-tag type="primary" size="medium">就业创业</van-tag>
				<van-tag type="primary" size="warning" plain>紧急</van-tag>
				<van-tag type="primary" size="medium" color="#ffe1e1" text-color="#ad0000">已办结</van-tag>
			</div>
			<div class="addr">
				<van-row>
					<van-col span="12">
						<van-icon name="location-o" />
						<span>陆丰市博美镇第五网格</span>
					</van-col>
					<van-col span="12" style="text-align: right;">
						<span style="color: rgba(0,0,0,0.45);">1小时前</span>
					</van-col>
				</van-row>
			</div>
			<div style="height: 8px; background-color: rgba(0,0,0,0.15);"></div>
			<div class="picture">
				<div class="head">
					<h3>图片</h3>
				</div>
				<div class="imgList">
					<van-row>
						<van-col span="12">
							<div>
								<img src="../assets/userImg.jpg" alt="" @click="prviewImg('../assets/userImg.jpg')">
							</div>
							<div class="title">处置前</div>
						</van-col>
						<van-col span="12">
							<div>
								<img src="../assets/userImg.jpg" alt="" @click="prviewImg('../assets/userImg.jpg')">
							</div>
							<div class="title">处置后</div>
						</van-col>
					</van-row>
				</div>
			</div>
			<div class="bljg">
				<div class="head">
					<h3>办理经过</h3>
				</div>
				<div class="scopervert">
					<van-collapse v-model="activeNames">
						<van-collapse-item title="事件上报" name="1">
							<van-steps direction="vertical" :active="0" active-icon="circle" active-color="#000000">
								<van-step>
									<div class="stepTag">
										<van-tag class="tagLable" type="primary" size="medium">博美镇联勤指挥中心-受理</van-tag>
										<span>张大大</span>
										<span>03-28 12:00:00</span>
									</div>
									<p class="step-content">处理意见:执行办理工作事项</p>
								</van-step>
								<van-step>
									<div class="stepTag">
										<van-tag class="tagLable" type="primary" size="medium">博美镇联勤指挥中心-受理</van-tag>
										<span>张大大</span>
										<span>03-28 12:00:00</span>
									</div>
									<p class="step-content">处理意见:执行办理工作事项</p>
								</van-step>
							</van-steps>
						</van-collapse-item>
						<van-collapse-item title="事件分拨" name="2">内容</van-collapse-item>
						<van-collapse-item title="事件受理" name="3">内容</van-collapse-item>
						<van-collapse-item title="事件上报" name="4">内容</van-collapse-item>
					</van-collapse>
				</div>
			</div>
			
			<div class="shjg">
				<div class="head">
					<h3>审核经过</h3>
				</div>
				<div class="scopervert">
					<van-collapse v-model="activeNames">
						<van-collapse-item title="事件审核" name="1">
							<van-steps direction="vertical" :active="0" active-icon="circle" active-color="#000000">
								<van-step>
									<div class="stepTag">
										<van-tag class="tagLable" type="primary" size="medium">博美镇联勤指挥中心-受理</van-tag>
										<span>张大大</span>
										<span>03-28 12:00:00</span>
									</div>
									<p class="step-content">处理意见:执行办理工作事项</p>
								</van-step>
								<van-step>
									<div class="stepTag">
										<van-tag class="tagLable" type="primary" size="medium">博美镇联勤指挥中心-受理</van-tag>
										<span>张大大</span>
										<span>03-28 12:00:00</span>
									</div>
									<p class="step-content">处理意见:执行办理工作事项</p>
								</van-step>
							</van-steps>
						</van-collapse-item>
						<van-collapse-item title="事件待审核" name="2">内容</van-collapse-item>
						<van-collapse-item title="事件审核" name="3">内容</van-collapse-item>
					</van-collapse>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {
		Image as vanImage,
		ImagePreview
	} from "vant";
	export default {
		data() {
			return {
				activeNames: ['1', '2', '3']
			}
		},
		components: {
			[ImagePreview.Component.name]: ImagePreview.Component,
		},
		methods: {
			prviewImg(value) {
				ImagePreview([value]);
			}
		}
	}
</script>

<style lang="less" scoped>
	.item {
		padding: 0 20px;

		.head {
			h3 {
				height: 48px;
				line-height: 48px;
			}
		}

		.info {
			width: 100%;
			font-size: 14px;
			line-height: 24px;
			justify-content: center;
		}

		.tag {
			padding: 16px 0;

			/deep/ .van-tag {
				margin-right: 12px;
			}
		}

		.addr {
			font-size: 12px;
			padding-bottom: 12px;
		}

		.picture {
			.imgList {
				padding: 12px 0;
				text-align: center;

				img {
					width: 80px;
				}
			}

			.title {
				font-size: 14px;
				padding-top: 12px;
			}
		}

		.scopervert {
			/deep/ .van-cell {
				padding: 10px 0;
			}

			/deep/ .van-collapse-item__content {
				padding: 12px 6px;
			}
			.stepTag{
				font-size: 14px;
				.tagLable{
					margin-right: 12px;
				}
			}
			.step-content{
				padding-top: 6px;
				
			}
		}
		.shjg{
			padding-top: 20px;
		}
	}
</style>
