<template>
	<div class="wrap">
		<div class="wrap-item">
			<van-cell-group inset>
				<van-field v-model="name" label="姓名" placeholder="请输入" readonly="readonly" />
				<van-field v-model="tel" type="tel" label="手机号码" readonly="readonly" />
				<van-field v-model="card" type="text" label="身份证" readonly="readonly" />
				<van-field v-model="hjdz" type="text" label="户籍地址" readonly="readonly" />
				<van-field v-model="interviewTime" type="text" label="走访日期" placeholder="点击选择日期" clickable readonly
					 />
				<van-field v-model="participantName" type="text" label="参与人员" placeholder="请输入" readonly="readonly" />
			</van-cell-group>
			<van-notice-bar color="#1989fa" background="#ecf9ff">
				个人状况信息
			</van-notice-bar>
			<van-cell-group inset>
				<van-field v-model="perIncome" label="月收入" placeholder="请输入" readonly="readonly" />
				<van-field v-model="perJob" type="text" label="职业" placeholder="请输入" readonly="readonly" />
				<van-field v-model="perHealth" type="text" label="身体状况" placeholder="请输入" readonly="readonly" />
			</van-cell-group>
			<van-notice-bar color="#1989fa" background="#ecf9ff">
				家庭成员信息
			</van-notice-bar>
			<van-cell-group inset>
				<van-field label="家庭成员状况" readonly right-icon="arrow" @click="adsf" />
				<van-field v-model="homeIncome" type="text" label="家庭月收入" placeholder="请输入" readonly="readonly" />
			</van-cell-group>
			<van-notice-bar color="#1989fa" background="#ecf9ff">
				帮扶措施
			</van-notice-bar>
			<van-collapse v-model="activeNames">
				<van-collapse-item title="就业创业" name="1">
					<van-checkbox-group v-model="measureWork" @change="togglejycy">
						<van-cell-group>
							<van-cell title="工厂打工">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="日结散工">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="自主摆摊">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" disabled/>
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group>
					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureWork_text" type="text" class="otherInput" placeholder="请输入" readonly style="color: #000000;">
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
				<van-collapse-item title="困难救助" name="2">
					<van-checkbox-group v-model="measureRescue" @change="toggleknjz">
						<van-cell-group>
							<van-cell title="低保">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="特困">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="临时救助">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" disabled/>
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group>
					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureRescue_text" type="text" class="otherInput" placeholder="请输入" readonly style="color: #000000;">
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
				<van-collapse-item title="技能培训" name="3">
					<van-checkbox-group v-model="measureSkill" @change="togglejnpx">
						<van-cell-group>
							<van-cell title="粤菜师傅">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="广东技工">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="南粤家政">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="创业培训">
								<template #right-icon>
									<van-checkbox name="4" ref="checkboxes" disabled/>
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group>
					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureSkill_text" type="text" class="otherInput" placeholder="请输入" readonly style="color: #000000;"> 
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
				<van-collapse-item title="创业贷款" name="4">
					<van-checkbox-group v-model="measureLoan" @change="togglexedk">
						<van-cell-group>
							<van-cell title="小额贷款">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="启动资金">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" disabled/>
								</template>
							</van-cell>
							<van-cell title="流动资金">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" disabled/>
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group>
					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureLoan_text" type="text" class="otherInput" placeholder="请输入" readonly style="color: #000000;">
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
			</van-collapse>
			<!-- <van-cell class="changeAddress" :title="addrLocation" icon="location-o" is-link @click="changeAddress" /> -->
			<van-cell class="changeAddress" :title="addrLocation" icon="location-o" />
			<van-field class="issb" name="radio" label="是否需要上报事件">
				<template #input>
					<van-radio-group v-model="reportEvent" direction="horizontal">
						<van-radio name="1" disabled>是</van-radio>
						<van-radio name="0" disabled>否</van-radio>
					</van-radio-group>
				</template>
			</van-field>
			<div class="plaeText">填写走访内容描述</div>
			<van-field v-model="interviewContent" rows="4" autosize label="" type="textarea" maxlength="500"
				placeholder="填写走访内容" show-word-limit class="messagebox" readonly style="color: #000000;"/>
			<!-- <div class="pz">
				<div class="pzzp">
					<van-row>
						<van-col span="12">
							<div class="zxj">
								<van-uploader :before-read="beforeRead" v-model="fileList" capture="camera"
									accept="image/*">
									<div class="fontIcon">
										<span class="iconfont icon-shumajiadian"></span>
									</div>
									<div>拍照</div>
								</van-uploader>

							</div>
						</van-col>
						<van-col span="12">
							<div class="xc">
								<van-uploader :before-read="beforeRead" v-model="fileList" multiple :max-count="10"
									accept="image/*">
									<div class="fontIcon">
										<span class="iconfont icon-tukuxiangce"></span>
									</div>
									<div>相册</div>
								</van-uploader>
							</div>
						</van-col>
					</van-row>
				</div>
			</div> -->
			<div class="imgList">
				<van-row type="flex">
					<van-col span="8" v-for="(item,index) in fileList" :key="index">
						<van-icon
							class="close van-badge__wrapper van-icon van-icon-cross van-uploader__preview-delete-icon"
							name="clear" @click="del(item,index)" />
						<img :src="item.content" alt="">
					</van-col>
				</van-row>
			</div>
			<!-- <van-button class="submitBtn" type="info" block @click="add">提交</van-button> -->
		</div>

		<van-overlay :show="show">
			<van-icon class="closeOverly" name="close" size="40" color="#ffffff" @click="show = false" />
			<div class="wrapper">

				<div class="block">
					<div class="title">家庭成员</div>
					<table style="table-layout:fixed;" bordercolor="#f5f5f5" border="1" width="100%" cellspacing="0"
						cellpadding="12">
						<tbody>
							<tr>
								<td>关系</td>
								<td>姓名</td>
								<td>年龄</td>
								<td>月收入</td>
								<td>健康状况</td>
								<td>操作</td>
							</tr>
							<tr v-for="(item,index) in family" :key="index">
								<td><input type="text" v-model="item.homeRelation"
										style="width: 100%;border: none;text-align: center;"></td>
								<td><input type="text" v-model="item.name"
										style="width: 100%;border: none;text-align: center;"></td>
								<td><input type="text" v-model="item.age"
										style="width: 100%;border: none;text-align: center;"></td>
								<td><input type="text" v-model="item.monthIncome"
										style="width: 100%;border: none;text-align: center;"></td>
								<td><input type="text" v-model="item.health"
										style="width: 100%;border: none;text-align: center;"></td>
								<td style="width: 100%;border: none;text-align: center;">
									<van-row>
										<van-col span="24">
											<van-button type="info" size="mini" @click="edit(item)">修改</van-button>
										</van-col>

									</van-row>
									<van-row span="24">
										<van-col span="24">
											<van-button type="danger" size="mini" @click="remove(item,index)">删除
											</van-button>
										</van-col>
									</van-row>
								</td>
							</tr>
						</tbody>
					</table>
					<div style="text-align: center;padding: 20px 0; font-size: 14px;}" v-if="family.length == 0">暂无记录
					</div>

					<!-- <div class="btn" style="padding-top: 20px;">
						<van-row gutter="20" style="text-align: center;">
						  <van-col span="12">
							  <van-button plain hairline size="small" type="info" @click="addFamily">添加一行</van-button>
						  </van-col span="12">
							<van-button plain hairline size="small" type="danger" @click="removeFamily">删除一行</van-button>
						</van-row>
						<van-row style="padding-top: 20px;">
							<van-col span="24"><van-button type="info" block @click="familyAdd">提交</van-button></van-col>
						</van-row>
					</div> -->
					<!-- <div class="btn" style="padding-top: 20px;">
						<van-row gutter="20" style="text-align: center;">
						  <van-col span="12">
							  <van-button plain hairline size="small" type="info" @click="addFamily">添加</van-button>
						  </van-col>
							<van-button plain hairline size="small" type="danger" @click="removeFamily">删除</van-button>
						</van-row>
					</div> -->
				</div>
			</div>
		</van-overlay>


		<!-- 弹出地图选择 -->
		<!-- <van-popup v-model="showMap" position="right" :style="{ height: '100%',width:'100%' }"> -->
		<!-- <qq-map :map-key="mapKey" :key-name="keyName" @callback="callback" @hideMap="showMap = false"></qq-map> -->
		<!--               :lat="settings.store_latitude"
		              :lng="settings.store_longitude" -->
		<!-- </van-popup> -->
		<van-popup v-model="showMap" :style="{ height: '100%',width:'100%' }" position="right">
			<TXmap @mapBut="mapBut"></TXmap>
		</van-popup>
		<van-calendar v-model="showCalendar" @confirm="onConfirm" />
	</div>
</template>

<script>
	import QqMap from '../components/Qqmap.vue'
	import TXmap from './txmap.vue'

	export default {
		data() {
			return {
				mapKey: '7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR',
				keyName: '钉钉定位',
				activeNames: ['1', '2', '3', '4'],
				interviewContent: '',
				radio: '1',
				name: this.$route.query.xm,
				tel: this.$route.query.lxdh,
				card: this.$route.query.sfzhm,
				interviewTime: '',
				hjdz: this.$route.query.xzdz,
				participantName: '民辅警',
				perIncome: '',
				perJob: '',
				perHealth: '',
				homeIncome: '',
				jtstzk: '',
				qt: '',
				fileList: [],
				show: false,
				measureWork: [],
				measureWork_text: '',
				measureRescue: [],
				measureRescue_text: '',
				measureSkill: [],
				measureSkill_text: '',
				measureLoan: [],
				measureLoan_text: '',
				addrLng: '',
				addrLat: '',
				addrLocation: '选择位置',
				reportEvent: '0',
				showMap: false,
				showCalendar: false,
				mapData: {
					address: '选择位置',
					lng: '',
					lat: ''
				},
				address_info: {
					address_latitude: '',
					address_longitude: '',
					area_info_detail: '',
					address_detail: '',
					area_info: '',
					province_id: '',
					city_id: '',
					area_id: ''
				},
				family: [
					// {
					// 	relation: '',
					// 	name: '',
					// 	age: '',
					// 	job: '',
					// 	income: '',
					// 	health: ''
					// }
				]


			}
		},
		components: {
			QqMap,
			TXmap
		},
		methods: {
			//添加一行
			addFamily() {
				// if(this.family.length >= 10) {
				// 	this.$toast('最多添加10条')
				// 	return
				// }
				this.family.push({
					homeRelation: '',
					name: '',
					age: '',
					monthIncome: '',
					health: ''
				})
			},
			//删除一行
			removeFamily() {
				this.family.splice(this.family.length - 1, 1)
			},
			adsf() {
				this.show = true;
				let params = {
					bfdxId: this.$route.query.id
				}
				this.$api.getFamily(params).then(res => {
					if (res.code == '200') {
						this.family = res.result
					}
				}).catch(err => {
					console.log(err, '获取家庭成员接口异常')
				})
			},
			//修改
			edit(value) {
				this.$dialog.confirm({
						title: "提示",
						message: `是否修改成员${value.name}`,
					})
					.then(() => {
						this.$api.editFamily(value).then(res => {
							if (res.code == '200') {
								this.$toast(res.message)
							}
						}).catch(error => {
							console.log(error, '修改家庭成员')
						})
					})
					.catch(() => {
						// on cancel
					});

			},
			//删除
			remove(item, index) {
				let params = {
					id: item.id
				}
				this.$dialog.confirm({
						title: "提示",
						message: `是否删除成员${item.name}`,
					})
					.then(() => {
						this.$api.removeFamily(params).then(res => {
							if (res.code == '200') {
								this.$toast(res.message)
								this.family.splice(index, 1)
							}
						}).catch(error => {
							console.log(error, '删除家庭成员')
						})
					})
					.catch(() => {
						// on cancel
					});

			},
			//删除照片
			del(obj, idx) {
				this.fileList.splice(idx, 1)
			},
			//就业创业复选框
			togglejycy(value) {
				//console.log(value)
			},
			//困难救助复选框
			toggleknjz(value) {
				//console.log(value)
			},
			//技能培训复选框
			togglejnpx(value) {
				//console.log(value)
			},
			//创业贷款复选框
			togglexedk(value) {
				//console.log(value)
			},
			onConfirm(date) {
				this.interviewTime =
					`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
				this.showCalendar = false;
			},
			//上传前处置
			beforeRead(file) {
				if (file.length > 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (this.fileList.length >= 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (this.fileList.length + file.length > 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (file.length >= 2) {
					for (let i = 0; i < file.length; i++) {
						if (file[i].type !== 'image/jpeg' && file[i].type !== 'image/png') {
							this.$toast('请上传 jpg格式图片');
							return false;
						}
						return true;
					}
				} else {
					if (file.type !== 'image/jpeg' && file.type !== 'image/png') {
						this.$toast('请上传 jpg格式图片');
						return false;
					}
					return true;
				}

			},
			//选择位置
			changeAddress() {
				this.showMap = true
				// this.$router.push({
				// 	path: '/txmap'
				// })
			},
			mapBut(value) {
				this.addrLng = value.longitude;
				this.addrLat = value.latitude;
				this.addrLocation = value.address;
				this.showMap = false
			},

			getDetails() {
				let params = {
					interviewId: this.$route.query.interviewId
				}
				this.$api.historyDetail(params).then(res => {
					if (res.code == '200') {
						this.interviewTime = res.result.interviewTime
						this.perIncome = res.result.perIncome
						this.perJob = res.result.perJob
						this.perHealth = res.result.perHealth
						this.homeIncome = res.result.homeIncome
						this.interviewContent = res.result.interviewContent
						this.addrLocation = res.result.addrLocation
						this.reportEvent = String(res.result.reportEvent)
						let measureType = res.result.measureType.split("~")[0]
						
						if(measureType == 'jycy') {
							this.measureWork = (res.result.measureType).split("_")[0].split("~")[1].split(",")
							this.measureWork_text = (res.result.measureType).split("_")[1]
						}
						if(measureType == 'knjz') {
							this.measureRescue = (res.result.measureType).split("_")[0].split("~")[1].split(",")
							this.measureRescue_text = (res.result.measureType).split("_")[1]
						}
						if(measureType == 'jnpx') {
							this.measureSkill = (res.result.measureType).split("_")[0].split("~")[1].split(",")
							this.measureSkill_text = (res.result.measureType).split("_")[1]
						}
						if(measureType == 'cydk') {
							this.measureLoan = (res.result.measureType).split("_")[0].split("~")[1].split(",")
							this.measureLoan_text = (res.result.measureType).split("_")[1]
						}
						// this.measureWork = (res.result.measureWork).split("_")[0].split(",")
						// this.measureWork_text = (res.result.measureWork).split("_")[1]
						// this.measureRescue = (res.result.measureRescue).split("_")[0].split(",")
						// this.measureRescue_text = (res.result.measureRescue).split("_")[1]
						// this.measureSkill = (res.result.measureSkill).split("_")[0].split(",")
						// this.measureSkill_text = (res.result.measureSkill).split("_")[1]
						// this.measureLoan = (res.result.measureLoan).split("_")[0].split(",")
						// this.measureLoan_text = (res.result.measureLoan).split("_")[1]

					}
				}).catch(err => {
					console.log(err, '获取详情接口异常')
				})
			}

		},

		mounted() {
			let date = new Date()
			let year = date.getFullYear()
			let mounth = date.getMonth() + 1
			let day = date.getDate()
			let h = date.getHours()
			let m = date.getMinutes()
			let s = date.getSeconds()
			this.getDetails()
			//this.interviewTime = `${year}-${mounth}-${day} ${h}:${m}:${s}`
			//this.getMyLocation()
			//this.getLocation()
		}
	}
</script>

<style lang="less" scoped>
	/deep/.van-cell-group--inset {
		margin: 0;
	}

	/deep/ .van-hairline--top-bottom::after,
	.van-hairline-unset--top-bottom::after {
		//border-width: 0;
	}

	.otherInput {
		border: none;
		width: 100%;
	}

	.otherName {
		color: #000;
		padding-left: 15px;

	}

	.othlinst {
		padding: 10px 0 0px 0;
	}

	.changeAddress {
		/deep/ .van-icon {
			color: #1989fa;
		}
	}

	.issb {
		/deep/ .van-cell__title {
			width: 150px;
		}
	}

	.plaeText {
		margin: 0;
		padding: 16px 16px 8px 16px;
		color: rgba(69, 90, 100, 0.6);
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}

	.messagebox {
		/deep/ .van-field__value {
			border: 1px rgba(69, 90, 100, 0.1) solid;
		}

	}

	.submitBtn {}

	.pzzp {
		padding: 20px 12px 10px 12px;
		box-shadow: 0 0 28px 0 rgba(135, 146, 164, 0.12);
		border-radius: 12px;
		text-align: center;
		margin: 20px;

		img {
			width: 32px;
		}

		.zxj {
			position: relative;

			.zxjInput {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			.fontIcon {
				height: 32px;
				line-height: 32px;

				.iconfont {
					font-size: 24px;
				}
			}
		}

		.xc {
			position: relative;

			input {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			.fontIcon {
				height: 32px;
				line-height: 32px;

				.iconfont {
					font-size: 24px;
				}
			}
		}
	}

	/deep/ .van-uploader__preview {
		display: none;
	}

	.imgList {
		padding: 20px;

		// display: flex;
		// .listImg{
		// 	flex: 1;
		// 	img{
		// 		width: 100%;
		// 	}
		// }
		.van-col {
			margin-bottom: 8px;
			position: relative;
			padding: 0 8px;

			.close {
				position: absolute;
				top: -6px;
				right: 2px;
				width: 24px;
				height: 24px;
				background: rgba(0, 0, 0, .7);
				border-radius: 0 0 0 12px;
				text-align: center;
				line-height: 24px;
			}

			img {
				height: 84px;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.block {
		width: 100%;
		height: 80%;
		background-color: #fff;
		overflow: hidden;
		overflow-y: auto;

		.title {
			height: 48px;
			line-height: 48px;
			font-size: 14px;
			padding-left: 12px;
		}

		table {
			width: 100%;

			tbody {
				tr {
					td {
						width: 100% / 6;
						text-align: center;
						padding: 4px 0;
						font-size: 14px;
						//border: 1px solid rgba(0,0,0,0.2);
					}
				}
			}
		}
	}

	.closeOverly {
		color: rgb(255, 255, 255);
		font-size: 40px;
		float: right;
		right: 0;
		position: absolute;

	}
</style>
