<template>
	<div>
		<!-- <van-search v-model="searchValue" show-action label="" placeholder="请输入走访人员的姓名或身份证号码" @search="onSearch">
			<template #action>
				<div @click="onClickButton">搜索</div>
			</template>
		</van-search> -->
		<div class="head-search">
			<!-- <van-dropdown-menu active-color="#1989fa">
				<van-dropdown-item :title="value" ref="item">
					
					<div class="item">
						<van-calendar :poppable="false" :show-confirm="false" @select="changeDay"
							:min-date='new Date(2021, 0, 1)' :max-date="maxDate" :style="{ height: '500px' }"
							color="#1989fa" />
					</div>
				</van-dropdown-item>
			</van-dropdown-menu> -->
			<!-- <van-row>
				<van-col span="12">
					<van-field readonly clickable name="calendar" :value="value" placeholder="点击选择日期"
						@click="showCalendar = true" />
				</van-col>
				<van-col span="12" class="rightZq">
					<van-field readonly clickable name="picker" :value="timeValye" placeholder="请选择周期"
						@click="showPicker = true" />
				</van-col>
			</van-row> -->

		</div>
		<!-- <van-list v-model="loading" :finished="finished" :finished-text="finishedText" @load="onLoad"> -->
			<div class="list">
				<div v-for="(it, ind) in list" :key="ind">
					<div class="wrap boxShadow" @click="toCardInfo(it)">
						<div class="infoList card">
							<div class="userName"><span class="name">{{it.xm}}</span>
								<van-tag type="warning">{{it.label || 'XDRY'}}</van-tag>
							</div>
							<div class="userCard">
								<span class="cardText">身份证：</span>
								<span class="cardNumber">{{it.sfzhm}}</span>
							</div>
							<div class="cityName">
								<van-row justify="space-between">
									<span>{{it.ssxsqName || '无'}}</span>
									<span class="line">|</span>
									<span>{{it.ssjdxzName || '无'}}</span>
									<span class="line">|</span>
									<span>{{it.sssqcName || '无'}}</span>
								</van-row>
								<div style="padding-top: 10px;">
									走访日期：{{it.interviewTime}}
								</div>
							</div>
						</div>
						<div class="infoImg card">
							<!-- <img :src="it.userImg" alt=""> -->
							<van-image :src="it.picture">
							  <template v-slot:error>
								  
								  <div>
									  <van-icon name="photo-fail" size="84px"/>
								  </div>
							  </template>
							</van-image>
						</div>
					</div>

				</div>
			</div>
			<van-empty description="暂无数据" v-if="listShow"/>
		<!-- </van-list> -->

		<!-- <van-popup v-model="showPicker" position="bottom">
			<van-picker show-toolbar :columns="columns" @confirm="TimeonConfirm" @cancel="showPicker = false" />
		</van-popup> -->
	</div>
</template>

<script>
	export default {
		data() {
			return {
				showCalendar: true,
				value: '2022-3-27',
				maxDate: new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate()),
				option: [],
				value2: 'by',
				option2: [{
						value: "0",
						text: "今天"
					},
					{
						value: "a",
						text: "本周"
					},
					{
						value: "by",
						text: "本月"
					},
					{
						value: "3",
						text: "近3个月"
					},
					{
						value: "6",
						text: "近6个月"
					}
				],
				showPicker: false,
				listShow: false,
				list: [
					// 	{
					// 	name: '林桂伟',
					// 	label: '吸毒人员',
					// 	userCard: '441521199001012345',
					// 	city: '陆丰市',
					// 	address: '博美镇',
					// 	sq: '博美社区',
					// 	userImg: require('../assets/userImg.jpg')

					// }, {
					// 	name: '林桂伟',
					// 	label: '吸毒人员',
					// 	userCard: '441521199001012345',
					// 	city: '陆丰市',
					// 	address: '博美镇',
					// 	sq: '博美社区',
					// 	userImg: require('../assets/userImg.jpg')
					// },
				], //数组
				finishedText: "没有更多了", //加载后有无数据显示的字
				page: 1, //页数
				loading: false, //上拉加载中
				finished: false, //上拉加载结束
				searchValue: '',
				userImg: require('../assets/userImg.jpg'),
				userid: ''
			}
		},
		methods: {
			onSearch(value) {
				this.$toast(this.searchValue)
			},
			onClickButton(value) {
				this.$toast(this.searchValue)
			},

			changeDay(date) {
				this.list = []
				this.value = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
				this.$refs.item.toggle();
				this.getList();
			},
			TimeonConfirm(value) {
				this.timeValye = value.text;
				this.showPicker = false;
			},
			toCardInfo(item) {
				this.$router.push({
					path: '/historyDetail',
					query: {
						interviewId: item.interviewId,
						personId: item.personId,
						xm: item.xm,
						sfzhm: item.sfzhm,
						lxdh: item.lxdh,
						xzdz: item.xzdz,
						id: item.id
					}
				})
			},
			onLoad() {
				//上拉加载
				this.getList();
			},
			getList() {
				let params = {
					userId: this.$route.query.userid || this.userid,
					//interviewTime: this.value
				}
				this.$api.historyList(params).then(res => {
					if(res.code == '200') {
						if(res.result.length > 0) {
							this.list = res.result;
							this.listShow = false
						}else{
							this.listShow = true
						}
					}else{
						this.listShow = false
					}
				}).catch(err => {
					console.log(err)
				})
				// this.$post("/merber/log", {
				// 	type: this.type,
				// 	page: this.page
				// }).then(res => {
				// 	if (res.code == 100) {
				// 		this.page++;
				// 		this.list = this.list.concat(res.data.use);
				// 		if (this.list.length < 1) {
				// 			this.finishedText = "暂无数据";
				// 			this.finished = true; //上拉结束
				// 		} else if (res.data.use.length < 10) {
				// 			this.finishedText = "没有更多了";
				// 			this.finished = true; //上拉结束
				// 		} else {
				// 			this.finished = false;
				// 			this.loading = false;
				// 		}
				// 	} else {
				// 		this.$toast(res.msg);
				// 	}
				// });
			}
		},
		mounted() {
			let date = new Date()
			this.value = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`
			this.userid = JSON.parse(localStorage.getItem('userInfo')) && JSON.parse(localStorage.getItem('userInfo')).userid ? JSON.parse(localStorage.getItem('userInfo')).userid : ''
			this.getList()
		}
	}
</script>

<style lang="less" scoped>
	// /deep/ .van-search{
	// 	background-color: #f1f1f1;
	// }
	// /deep/ .van-search .van-cell{
	// 	background-color: #FFFFFF;
	// }
	// /deep/ .van-search__content{
	// 	padding-left: 0;
	// }
	.head-search {
		padding: 6px;

		/deep/ .van-calendar__header-title {
			display: none;
		}

		/deep/ .van-field__control {
			border: 1px solid #F2F3F5;
			padding: 4px;
			border-radius: 6px;
		}

		.rightZq {
			/deep/ .van-field__control {
				text-align: right;
			}
		}
	}

	.boxShadow {
		background: #FFFFFF;
		box-shadow: 0 0 28px 0 rgba(135, 146, 164, 0.12);
		border-radius: 12px;

	}

	.list {
		padding: 0 12px;

		.wrap {
			padding: 10px 8px;
			display: flex;
			margin-bottom: 10px;

			.infoList {
				flex: 1;
				padding-right: 4px;

				/deep/ .van-tag--warning {
					margin-left: 8px;
					vertical-align: middle;
				}

				.userCard {
					padding-top: 10px;

					.cardText {
						color: #646566;
					}
				}

				.cityName {
					padding-top: 10px;

					.line {
						padding: 0 10px;
					}
				}

				/deep/ .van-button--mini {
					height: 18px;
					font-size: 12px;
				}
			}

			.infoImg {
				width: 84px;

				img {
					border-radius: 6px;
					height: 84px;
				}
				/deep/ .van-image__error{
					position: unset;
				}
			}
		}
	}
</style>
