<template>
	<div>
		<router-view />
		<van-tabbar v-model="active">
			<van-tabbar-item to="/home" icon="contact">人员列表</van-tabbar-item>
			<van-tabbar-item to="/reported" icon="completed">事件上报</van-tabbar-item>
		</van-tabbar>
	</div>
</template>

<script>
	import axios from "axios";
	import * as dd from "dingtalk-jsapi";
	export default {
		data() {
			return {
				active: 0,
				config: null
			}
		},
		watch: {
			$route(to, from) {
				if(to.path == '/home') {
					this.active = 0
				}
				if(to.path == '/reported') {
					this.active = 1
				}
			}
		},
		methods: {
			//获取钉钉配置信息
			getConfig() {
				let self = this;
				self.$api.getConfig({}).then(res => {
					//alert(1+JSON.stringify(res))
					if (res.code == "200") {
						//alert(2+JSON.stringify(res.result))
						console.log(res.result, '获取配置成功')
						self.config = JSON.stringify(res.result);
						let corpId = res.result.corpId;
						if (dd.env.platform !== "notInDingTalk") {
							dd.ready(function() {
								dd.runtime.permission.requestAuthCode({
									corpId: corpId, // 企业id
									onSuccess: function(info) {
										//alert(3+JSON.stringify(info))
										console.log(info, '获取企业code')
										axios.post("/swhelp/login",`authCode=${info.code}`)
											.then((res) => {
												//alert(4+JSON.stringify(res))
												if (res.data.code == "200") {
													//alert(5+JSON.stringify(res))
													localStorage.setItem(
														"userInfo",
														JSON.stringify(res.data.result)
													);
												}
												console.log(res.data, '获取userid')
											})
											.catch((err) => {
												//self.$toast("服务器异常，登录失败，请稍后重试！");
												//self.$toast(JSON.stringify(err))
												//alert(6+JSON.stringify(err))
												console.log(err,'钉钉logine接口error')
											});
									},
									onFail: function(err) {
										//alert(7+JSON.stringify(err))
										//self.$toast("获取用户信息失败，请稍后重新获取");
										console.log(err,'钉钉API授权接口error')
									},
								})
							});
						} else {
							self.$toast('请在钉钉环境打开应用！');
						}
					} else {
						self.$toast('服务器异常，请稍后再试！');
					}
				}).catch(error => {
					self.$toast('获取配置失败，请稍后再试！');
				})
			}
		},
		mounted() {
			this.getConfig()
			if(this.$route.path == '/reported') {
				this.active = 1
			}else{
				this.active = 0
			}
		}
	}
</script>

<style lang="less" scoped>

</style>
