<template>
	<div>
		<!-- <van-search v-model="searchValue" show-action label="" placeholder="请输入走访人员的姓名或身份证号码" @search="onSearch">
			<template #action>
				<div @click="onClickButton">搜索</div>
			</template>
		</van-search> -->
		<!-- <van-list v-model="loading" :finished="finished" :finished-text="finishedText" @load="onLoad"> -->
		<div class="list">
			<div v-for="(it, ind) in list" :key="ind">
				<div class="wrap boxShadow" @click="toCardInfo(it)">
					<div class="infoList card">
						<div class="userName"><span class="name">{{it.xm}}</span>
							<van-tag type="warning">{{it.label || 'XDRY'}}</van-tag>
						</div>
						<div class="userCard">
							<span class="cardText">身份证：</span>
							<span class="cardNumber">{{it.sfzhm}}</span>
						</div>
						<div class="cityName">
							<van-row justify="space-between">
								<span>{{it.ssxsqName || '无'}}</span>
								<span class="line">|</span>
								<span>{{it.ssjdxzName || '无'}}</span>
								<span class="line">|</span>
								<span>{{it.sssqcName || '无'}}</span>
							</van-row>
							<div style="padding-top: 10px;">
								<van-row>
									<van-col span="12"><van-button type="warning" @click.stop="history" size="mini">历史走访记录</van-button></van-col>
									<van-col span="12" style="text-align: right;"><van-button type="warning" @click.stop="bflist" size="mini">帮扶措施记录</van-button></van-col>
								</van-row>
							</div>
						</div>
					</div>
					<div class="infoImg card">
						<!-- <img :src="it.picture" alt=""> -->
						<van-image :src="it.picture">
						  <template v-slot:error>
							  <!-- <img src="https://img01.yzcdn.cn/vant/cat.jpeg" alt=""> -->
							  <div>
								  <van-icon name="photo-fail" size="84px"/>
							  </div>
						  </template>
						</van-image>
					</div>
				</div>

			</div>
		</div>
		<!-- </van-list> -->
	</div>
</template>

<script>
	import axios from "axios";
	import * as dd from "dingtalk-jsapi";
	export default {
		data() {
			return {
				list: [
					// 	{
					// 	name: '林桂伟',
					// 	label: '吸毒人员',
					// 	userCard: '441521199001012345',
					// 	city: '陆丰市',
					// 	address: '博美镇',
					// 	sq: '博美社区',
					// 	userImg: require('../assets/userImg.jpg')

					// },
					//{
					// 	name: '林桂伟',
					// 	label: '吸毒人员',
					// 	userCard: '441521199001012345',
					// 	city: '陆丰市',
					// 	address: '博美镇',
					// 	sq: '博美社区',
					// 	userImg: require('../assets/userImg.jpg')
					// }
				], //数组
				finishedText: "没有更多了", //加载后有无数据显示的字
				page: 1, //页数
				loading: false, //上拉加载中
				finished: false, //上拉加载结束
				searchValue: '',
				userImg: require('../assets/userImg.jpg'),
				userid: ''
			}
		},
		methods: {
			onSearch(value) {
				//this.$toast(this.searchValue)
			},
			onClickButton(value) {
				//this.$toast(this.searchValue)
			},

			//历史记录
			history() {
				this.$router.push({
					path: '/historyList',
					query: {
						userid: this.userid
					}
				})
			},
			//帮扶措施记录
			bflist() {
				this.$router.push({
					path: '/bfcsjl',
					query:{
						
					}
				})
			},
			toCardInfo(value) {
				this.$router.push({
					path: '/userInfo',
					query: {
						id: value.id,
						personId: value.personId,
						xm: value.xm,
						sfzhm: value.sfzhm,
						lxdh: value.lxdh,
						xzdz: value.xzdz,
						bfdxdyId: value.bfdxdyId
					}
				})
			},
			onLoad() {
				//上拉加载
				//this.getList();
			},
			getList() {
				let params = {
					userId: this.userid
				}
				this.$api.getPeopleList(params).then(res => {
					if (res.code == '200') {
						this.list = res.result
						localStorage.setItem('dybfInfo',JSON.stringify(res.result[0]))
					}
				}).catch(error => {
					console.log('列表接口异常')
				})

				// this.$post("/merber/log", {
				// 	type: this.type,
				// 	page: this.page
				// }).then(res => {
				// 	if (res.code == 100) {
				// 		this.page++;
				// 		this.list = this.list.concat(res.data.use);
				// 		if (this.list.length < 1) {
				// 			this.finishedText = "暂无数据";
				// 			this.finished = true; //上拉结束
				// 		} else if (res.data.use.length < 10) {
				// 			this.finishedText = "没有更多了";
				// 			this.finished = true; //上拉结束
				// 		} else {
				// 			this.finished = false;
				// 			this.loading = false;
				// 		}
				// 	} else {
				// 		this.$toast(res.msg);
				// 	}
				// });
			}
		},
		mounted() {
			setTimeout(() => {
				this.userid = JSON.parse(localStorage.getItem('userInfo')) && JSON.parse(localStorage.getItem('userInfo')).userid ? JSON.parse(localStorage.getItem('userInfo')).userid : ''
				this.getList()
			}, 1000)
			
		}
	}
</script>

<style lang="less" scoped>
	// /deep/ .van-search{
	// 	background-color: #f1f1f1;
	// }
	// /deep/ .van-search .van-cell{
	// 	background-color: #FFFFFF;
	// }
	// /deep/ .van-search__content{
	// 	padding-left: 0;
	// }
	.boxShadow {
		background: #FFFFFF;
		box-shadow: 0 0 28px 0 rgba(135, 146, 164, 0.12);
		border-radius: 12px;

	}

	.list {
		padding: 0 12px 55px 12px;

		.wrap {
			padding: 16px 8px;
			display: flex;
			margin-bottom: 10px;

			.infoList {
				flex: 1;
				padding-right: 4px;

				/deep/ .van-tag--warning {
					margin-left: 8px;
					vertical-align: middle;
				}

				.userCard {
					padding-top: 10px;

					.cardText {
						color: #646566;
					}
				}

				.cityName {
					padding-top: 10px;

					.line {
						padding: 0 10px;
					}
				}

				/deep/ .van-button--mini {
					height: 18px;
					font-size: 12px;
				}
			}

			.infoImg {
				width: 84px;

				img {
					border-radius: 6px;
					height: 84px;
				}
				/deep/ .van-image__error{
					position: unset;
				}
			}
		}
	}
</style>
