<template>
	<div>
		<div id="container"></div>
		<div class="info">
			<div class="input-item">
				<div class="input-item-prepend">
					<!-- <span class="input-item-text">请输入地址</span> -->
					<input id='tipinput' type="text" placeholder="搜索">
				</div>

			</div>
		</div>
	</div>


</template>

<script>
	import AMapLoader from '@amap/amap-jsapi-loader';
	export default {
		data() {
			return {
				map: null,
				AMap: null,
				lng: '',
				lat: '',
				locationUrl: require('@/assets/latlng.png')
			}
		},
		methods: {
			initMap() {
				let self = this;
				AMapLoader.load({
					"key": "36c962f230b699a922444605f2803beb", // 申请好的Web端开发者Key，首次调用 load 时必填
					"version": "2.0", // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
					"plugins": ['AMap.Geolocation', 'AMap.CitySearch', 'AMap.Scale',
						'AMap.ToolBar', 'AMap.PlaceSearch', 'AMap.AutoComplete'
					], // 需要使用的的插件列表，如比例尺'AMap.Scale'等

				}).then((AMap) => {
					var map = new AMap.Map('container', {
						zoom: 16,
						viewMode: "2D",
						resizeEnable: true


					});
					map.addControl(new AMap.Scale());
					map.addControl(new AMap.ToolBar())
					//输入提示
					var autoOptions = {
						input: "tipinput"
					};
					//搜索结果
					map.plugin(['AMap.PlaceSearch', 'AMap.AutoComplete'], function() {
						var auto = new AMap.AutoComplete(autoOptions);
						var placeSearch = new AMap.PlaceSearch({
							map: map
						}); //构造地点查询类
						auto.on("select", select); //注册监听，当选中某条记录时会触发
						function select(e) {
							console.log(e)
							placeSearch.setCity(e.poi.adcode);
							placeSearch.search(e.poi.name); //关键字查询查询
						}
					});
					
					// map.on('click',function(e) {
					// 	console.log(e)
					// })
					
					
					// var marker = new AMap.Marker({
					// 	icon: "//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png",
					// 	position: [114.088153,22.545161],
					// 	offset: new AMap.Pixel(-13, -30)
					// });
					// marker.setMap(map);

					


					

					//点击
					map.on('click', function(e) {
						console.log(e)
						var marker = new AMap.Marker({
							position: [e.lnglat.lng,e.lnglat.lat],
							icon: self.locationUrl,//'//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png',
							offset: new AMap.Pixel(-13, -30)
						});
						map.add(marker);
						map.remove(marker);
						//map.remove(marker);
						//marker.setMap(map);
						// var marker = new AMap.Marker({
						// 	icon: "//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png",
						// 	position: [116.406315, 39.908775],
						// 	offset: new AMap.Pixel(-13, -30)
						// });
						// marker.setMap(map);
						// 设置label标签
						// label默认蓝框白底左上角显示，样式className为：amap-marker-label
						marker.setLabel({
							offset: new AMap.Pixel(-20, -25), //设置文本标注偏移量
							content: `<div class='info'>${e.lnglat.lng}-${e.lnglat.lat}</div>`, //设置文本标注内容
							direction: 'right' //设置文本标注方位
						});
						console.log(marker)
					});
					// 
					// var marker = new AMap.Marker({
					// 	position: map.getCenter(),
					// 	icon: '//a.amap.com/jsapi_demos/static/demo-center/icons/poi-marker-default.png',
					// 	offset: new AMap.Pixel(-13, -30),
					// 	// 设置是否可以拖拽
					// 	draggable: true,
					// 	cursor: 'move',
					// });

					// marker.setMap(map);
					// console.log(marker)
					//定位
					map.plugin('AMap.Geolocation', function() {
						var geolocation = new AMap.Geolocation({
							enableHighAccuracy: true, //是否使用高精度定位，默认:true
							timeout: 10000, //超过10秒后停止定位，默认：5s
							buttonPosition: 'RB', //定位按钮的停靠位置
							buttonOffset: new AMap.Pixel(10,
								20), //定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
							zoomToAccuracy: true, //定位成功后是否自动调整地图视野到定位点

						});
						map.addControl(geolocation);
						geolocation.getCurrentPosition(function(status, result) {
							if (status == 'complete') {
								self.onComplete(result)
							} else {
								self.onError(result)
							}
						});
					});


				}).catch((e) => {
					console.error(e); //加载错误提示
				});
			},

			//解析定位结果
			onComplete(data) {
				//alert(1)
				console.log(data,'定位成功')
			},
			//解析定位错误信息
			onError(data) {
				//alert(2)
				console.log(data,'定位失败')
			}


			// initMap() {
			// 	AMapLoader.load({
			// 		key: "36c962f230b699a922444605f2803beb", // 申请好的Web端开发者Key，首次调用 load 时必填
			// 		version: "2.0", // 指定要加载的 JSAPI 的版本，缺省时默认为 1.4.15
			// 		plugins: ['AMap.Geolocation','AMap.CitySearch'], // 需要使用的的插件列表，如比例尺'AMap.Scale'等
			// 	}).then((AMap) => {

			// 		this.map = new AMap.Map("container", { //设置地图容器id
			// 			viewMode: "3D", //是否为3D地图模式
			// 			zoom: 15, //初始化地图级别
			// 			center: [this.lng, this.lat], //初始化地图中心点位置
			// 		});
			// 		AMap.plugin('AMap.Geolocation', function() {
			// 			var geolocation = new AMap.Geolocation({
			// 				enableHighAccuracy: false, //是否使用高精度定位，默认:true
			// 				timeout: 3000, //超过10秒后停止定位，默认：无穷大
			// 				maximumAge: 0, //定位结果缓存0毫秒，默认：0
			// 			})

			// 			geolocation.getCurrentPosition()
			// 			//AMap.event.addListener(geolocation, 'complete', onComplete);
			// 			//AMap.event.addListener(geolocation, 'error', onError);
			// 			geolocation.getCurrentPosition(function(status, result) {
			// 				if (status == 'complete') {
			// 					onComplete(result)
			// 				} else {
			// 					onError(result)
			// 				}
			// 			});

			// 			function onComplete(data) {
			// 				//this.lng = data.position.lng;
			// 				//this.lat = data.position.lat;
			// 				if (data.status == "1") {
			// 					console.log('定位成功信息：', data);
			// 				} else {
			// 					AMap.plugin('AMap.CitySearch', function() {
			// 						var citySearch = new AMap.CitySearch();
			// 						citySearch.getLocalCity(function(status, result) {
			// 							if (status === 'complete' && result.info === 'OK') {
			// 								// 查询成功，result即为当前所在城市信息
			// 								console.log('通过ip获取当前城市：', result)
			// 								//逆向地理编码
			// 								AMap.plugin('AMap.Geocoder', function() {
			// 									var geocoder = new AMap.Geocoder({
			// 										// city 指定进行编码查询的城市，支持传入城市名、adcode 和 citycode
			// 										city: result.adcode
			// 									})

			// 									var lnglat = result.rectangle.split(';')[0].split(',');

			// 									geocoder.getAddress(lnglat, function(status, data) {
			// 										if (status === 'complete' && data.info === 'OK') {
			// 											// result为对应的地理位置详细信息
			// 											console.log(data, '4567')
			// 											//this.lng = data.position&&data.position.lng;
			// 											//this.lat = data.position&&data.position.lat;
			// 										}
			// 									})
			// 								})
			// 							}
			// 						})
			// 					})
			// 				}


			// 			}

			// 			function onError(data) {
			// 				// 调用ip定位
			// 				AMap.plugin('AMap.CitySearch', function() {
			// 					var citySearch = new AMap.CitySearch();
			// 					citySearch.getLocalCity(function(status, result) {
			// 						if (status === 'complete' && result.info === 'OK') {
			// 							// 查询成功，result即为当前所在城市信息
			// 							console.log('通过ip获取当前城市：', result)
			// 							//逆向地理编码
			// 							AMap.plugin('AMap.Geocoder', function() {
			// 								var geocoder = new AMap.Geocoder({
			// 									// city 指定进行编码查询的城市，支持传入城市名、adcode 和 citycode
			// 									city: result.adcode
			// 								})

			// 								var lnglat = result.rectangle.split(';')[0].split(',');

			// 								geocoder.getAddress(lnglat, function(status, data) {
			// 									if (status === 'complete' && data.info === 'OK') {
			// 										// result为对应的地理位置详细信息
			// 										console.log(data, '4567')
			// 									}
			// 								})
			// 							})
			// 						}
			// 					})
			// 				})
			// 			}
			// 		})
			// 	}).catch(e => {
			// 		console.log(e);
			// 	})
			// },
			// getLocation() {
			// 	const self = this
			// 	this.AMap.plugin('AMap.Geolocation', function() {
			// 		var geolocation = new AMap.Geolocation({
			// 			enableHighAccuracy: false, //是否使用高精度定位，默认:true
			// 			timeout: 3000, //超过10秒后停止定位，默认：无穷大
			// 			maximumAge: 0, //定位结果缓存0毫秒，默认：0
			// 		})

			// 		geolocation.getCurrentPosition()
			// 		//AMap.event.addListener(geolocation, 'complete', onComplete);
			// 		//AMap.event.addListener(geolocation, 'error', onError);
			// 		geolocation.getCurrentPosition(function(status, result) {
			// 			if (status == 'complete') {
			// 				onComplete(result)
			// 			} else {
			// 				onError(result)
			// 			}
			// 		});

			// 		function onComplete(data) {
			// 			//this.lng = data.position.lng;
			// 			//this.lat = data.position.lat;
			// 			if (data.status == "1") {
			// 				self.$toast('获取位置信息成功！')
			// 				console.log('定位成功信息：', data);
			// 			} else {
			// 				self.$toast("获取位置信息失败！");

			// 			}


			// 		}

			// 		function onError(data) {
			// 			// 调用ip定位
			// 			self.getLngLatLocation();
			// 		}
			// 	})
			// },
			// //IP定位
			// getLngLatLocation() {
			// 	this.AMap.plugin('AMap.CitySearch', function() {
			// 		var citySearch = new AMap.CitySearch();
			// 		citySearch.getLocalCity(function(status, result) {
			// 			if (status === 'complete' && result.info === 'OK') {
			// 				// 查询成功，result即为当前所在城市信息
			// 				console.log('通过ip获取当前城市：', result)
			// 				//逆向地理编码
			// 				this.AMap.plugin('AMap.Geocoder', function() {
			// 					var geocoder = new AMap.Geocoder({
			// 						// city 指定进行编码查询的城市，支持传入城市名、adcode 和 citycode
			// 						city: result.adcode
			// 					})

			// 					var lnglat = result.rectangle.split(';')[0].split(',');

			// 					geocoder.getAddress(lnglat, function(status, data) {
			// 						if (status === 'complete' && data.info === 'OK') {
			// 							// result为对应的地理位置详细信息
			// 							console.log(data, '4567')
			// 						}
			// 					})
			// 				})
			// 			}
			// 		})
			// 	})
			// }
		},
		mounted() {
			this.initMap()
		}
	}
</script>

<style scoped lang="less">
	#container {
		padding: 0px;
		margin: 0px;
		width: 100%;
		height: 100vh;
	}

	#myPageTop {
		position: absolute;
		top: 0;
		right: 0;
	}

	.info {
		padding: 0.75rem 1.25rem;
		margin-bottom: 1rem;
		border-radius: 0.25rem;
		position: fixed;
		top: 1rem;
		background-color: white;
		width: auto;
		left: 16px;
		border-width: 0;
		right: 16px;
		box-shadow: 0 2px 6px 0 rgb(114 124 245 / 50%);

		.input-item-text {
			width: 68px;
			text-align: justify;
			padding: 4px 6px;
			align-items: center;
			margin-bottom: 0;
			font-size: 12px;
			font-weight: 400;
			line-height: 1.5;
			color: #495057;
			text-align: center;
			white-space: nowrap;
			background-color: #e9ecef;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
		}

		#tipinput {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			margin-bottom: 0;
			background: #fff;
			width: 100%;
			line-height: 1.5;
			padding: 2px 6px;
			color: #495057;
			vertical-align: middle;
			background-size: 8px 10px;
			border: 1px solid #ced4da;
			border-radius: 0.25rem;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 100%;
			font-size: 12px;
			height: 36px;
		}
	}
	
</style>
<style>
	.amap-icon{
		overflow: unset !important;
	}
	.amap-icon img{
		width: 24px;
		height: 24px;
	}
</style>
