<template>
	<div class="item">
		<div id="map"></div>
		<!-- <div id="container"></div>
		<div style="height:22px;"></div>
		<div id="fitBoundsDiv"></div>
		<div id="zoomDiv"></div>
		<div id="containerDiv"></div>
		<div id="mapTypeIdDiv"></div>
		<div id="projection"></div> -->
		<!-- <div class="icon">
			<span class="iconfont icon-weizhi" style="color: #0570DB;font-size: 48px;"></span>
		</div> -->
		<div class="searchInput">
			<van-search v-model="adressKeywords" placeholder="请输入搜索关键词" />
			<div class="list">
				<div class="searchList" v-for="(item,index) in list" :key="index" @click="changePoit(item)">
					{{item.address}}
				</div>
			</div>
			<!-- <input type="text" v-model="adressKeywords"> -->
		</div>
		<div class="botmBar">
			<div class="barInfo">
				<span>{{barInfo.district}}</span>
				<span>|</span>
				<span>{{barInfo.townTitle}}</span>
				<span>|</span>
				<span>{{barInfo.sssq}}</span>
				<span>|</span>
				<span>{{barInfo.nextAdd}}</span>
			</div>
			<div class="barAddr">
				<van-icon name="location" color="#0570DB" /><span>{{barInfo.address}}</span>
			</div>
			<div>
				<van-button type="info" block @click="mapInfo">确定</van-button>
			</div>
		</div>

	</div>
</template>

<script>
	import axios from "axios";
	export default {
		data() {
			return {
				longitude: "",
				latitude: "",
				wz: require('../assets/ly.png'),
				barInfo: {
					address: '暂无数据',
					district: '无',
					townTitle: '无',
					sssq: '无',
					nextAdd: '无',
					province: '',
					city: '',
					district_q: ''
				},
				adressKeywords: '',
				list: []
			};
		},

		watch: {
			adressKeywords(newVal) {
				this.adressKeywords = newVal
				this.getCoordinates()
			}
		},
		methods: {
			init() {
				let self = this;
				// var map = new qq.maps.Map(document.getElementById("map"), {
				// 	//加载地图经纬度信息
				// 	center: new qq.maps.LatLng(39.916527, 116.397128),
				// 	zoom: 13, //设置缩放级别
				// 	draggable: true, //设置是否可以拖拽
				// 	scrollwheel: true, //设置是否可以滚动
				// 	disableDoubleClickZoom: true //设置是否可以双击放大
				// });


				//div容器
				var container = document.getElementById("map");
				var center = new qq.maps.LatLng(this.latitude, this.longitude);
				//初始化地图
				var map = new qq.maps.Map(container, {
					// 地图的中心地理坐标
					center: center,
					zoom: 18,
					disableDoubleClickZoom: true, //设置是否可以双击放大
					mapTypeId: qq.maps.MapTypeId.SATELLITE,
					disableDefaultUI: true
				});
				var marker;
				//var icon = new qq.maps.MarkerImage('https://mapapi.qq.com/web/lbs/javascriptV2/demo/img/plane.png');
				marker = new qq.maps.Marker({
					//icon: icon,
					position: center,
					draggable: true,
					map: map
				});

				qq.maps.event.addListener(map, 'center_changed', function() {
					this.latitude = map.getCenter().lat
					this.longitude = map.getCenter().lng
					self.moveMpaAddress(`${map.getCenter().lat},${map.getCenter().lng}`)
					if (!marker) {
						marker = new qq.maps.Marker({
							position: new qq.maps.LatLng(this.latitude, this.longitude),
							map: map,
							//icon: icon,
						});
						return;
					}
					marker.setPosition(map.getCenter());
				});

			},
			moveMpaAddress(location) {
				// let params = {
				// 	location: location,
				// 	key: '7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR'
				// }
				// this.$api.lnglatToAddress(params).then(res => {
				// 	console.error(res)
				// 	if (res.status == 0) {
				// 		this.barInfo.address =
				// 			`${res.result.address_component.province}${res.result.address_component.city}${res.result.address_component.district}${res.result.address_reference.town.title}${res.result.formatted_addresses.recommend}`
				// 		this.barInfo.district = `${res.result.address_component.district}`
				// 		this.barInfo.townTitle = `${res.result.address_reference.town.title}`
				// 	}
				// }).catch(err => {
				// 	console.log(err)
				// })


				// axios.get('https://apis.map.qq.com/ws/geocoder/v1/',params).then(res => {
				// 	console.error(res)
				// }).catch(err => {
				// 	console.error(err)
				// })

				let url = "https://apis.map.qq.com/ws/geocoder/v1/";
				this.$jsonp(url, {
						key: '7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR',
						location: location,
						output: "jsonp"
					})
					.then((res) => {

						console.log(res);
						if (res.status == 0) {
							this.barInfo.address =
								`${res.result.address_component.province}${res.result.address_component.city}${res.result.address_component.district}${res.result.address_reference.town.title}${res.result.formatted_addresses.recommend}`
							this.barInfo.district = `${res.result.address_component.district}`
							this.barInfo.townTitle = `${res.result.address_reference.town.title}`
							this.barInfo.province = res.result.address_component.province
							this.barInfo.city = res.result.address_component.city
							this.barInfo.district_q = res.result.address_component.district
						}

					})
					.catch((err) => {
						console.log(err);
					});



			},
			//选中位置
			changePoit(value) {
				this.moveMpaAddress(`${value.location.lat},${value.location.lng}`)
				this.latitude = value.location.lat;
				this.longitude = value.location.lng;
				this.list = []
				this.init()
			},
			//定位获得当前位置信息
			getMyLocation() {
				var geolocation = new qq.maps.Geolocation("7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR", "钉钉定位");
				//geolocation.getIpLocation(this.showPosition, this.showErr);
				geolocation.getLocation(this.showPosition, this.showErr); //或者用getLocation精确度比较高
			},
			showPosition(position) {
				//console.log(position);
				this.moveMpaAddress(`${position.lat},${position.lng}`)

				this.latitude = position.lat;
				this.longitude = position.lng;
				this.city = position.city;
				//this.setMap();
				this.init();
				
			},
			showErr() {
				console.log("定位失败");
				this.getMyLocation(); //定位失败再请求定位，测试使用
			},
			mapInfo() {
				let params = {
					longitude: this.longitude,
					latitude: this.latitude,
					address: this.barInfo.address,
					district: this.barInfo.district,
					townTitle: this.barInfo.townTitle,
					address: this.barInfo.address,
					sssq: this.barInfo.sssq,
					nextAdd: this.barInfo.nextAdd,
					province: this.barInfo.province,
					city: this.barInfo.city,
					district_q: this.barInfo.district_q
				}
				this.$emit('mapBut', params)
			},
			getCoordinates() {
				this.list = []
				let data = {
					key: '7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR'
				}
				let url = "https://apis.map.qq.com/ws/place/v1/suggestion";
				this.$jsonp(url, {
						key: '7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR',
						region: "全国",
						keyword: this.adressKeywords,
						output: "jsonp"
					})
					.then((res) => {
						console.log(res);
						this.list = res.data
						// console.log(res);
						// res.data.forEach((item) => {
						// 	item.value = item.title; //因为element的远程搜索只能识别value所以需要对返回的数据进行一下处理
						// });
						// this.positions = res.data;
					})
					.catch((err) => {
						console.log(err);
					});
			},
			//第二部分
			//位置信息在地图上展示
			setMap() {
				//步骤：定义map变量 调用 qq.maps.Map() 构造函数   获取地图显示容器
				//设置地图中心点
				var myLatlng = new qq.maps.LatLng(this.latitude, this.longitude);
				//定义工厂模式函数
				var myOptions = {
					zoom: 13, //设置地图缩放级别
					center: myLatlng, //设置中心点样式
					mapTypeId: qq.maps.MapTypeId.ROADMAP //设置地图样式详情参见MapType
				}
				// //获取dom元素添加地图信息
				var map = new qq.maps.Map(document.getElementById("map"), myOptions);
				//第三部分
				//给定位的位置添加图片标注
				var marker = new qq.maps.Marker({
					position: myLatlng,
					map: map
				});
				//给定位的位置添加文本标注
				// var marker = new qq.maps.Label({
				// 	position: myLatlng,
				// 	map: map,
				// 	content: '这是我当前的位置，偏差有点大，哈哈'
				// });
			},

			// var map = new qq.maps.Map(document.getElementById("map"), {
			// 	//加载地图经纬度信息
			// 	center: new qq.maps.LatLng(39.916527, 116.397128),
			// 	zoom: 13, //设置缩放级别
			// 	draggable: true, //设置是否可以拖拽
			// 	scrollwheel: true, //设置是否可以滚动
			// 	disableDoubleClickZoom: true //设置是否可以双击放大
			// });
			//https://apis.map.qq.com/tools/locpicker?search=1&type=0&backurl=http://3gimg.qq.com/lightmap/components/locationPicker2/back.html&key=7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR&referer=myapp
		},
		created() {
			
			const m = document.createElement('script');
			m.type = 'text/JavaScript';
			m.src = 'https://mapapi.qq.com/web/mapComponents/geoLocation/v/geolocation.min.js';
			document.body.appendChild(m);
			
			
		},
		mounted() {

			setTimeout(() => {
				this.getMyLocation()
			},1000)
		},

	}
</script>

<style lang="less" scoped>
	#map {
		width: 100%;
		height: 100vh;

		.csssprite {}
	}

	.icon {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: calc(50% - 24px);
	}

	.botmBar {
		position: fixed;
		bottom: 0;
		width: 100%;
		background: #ffffff;

		.barInfo {
			padding: 20px 20px 10px 20px;

			span {
				padding: 0 6px;
				color: #000000;
				font-size: 14px;
			}
		}

		.barAddr {
			padding: 0px 20px 10px 20px;
			font-size: 14px;
		}
	}

	.searchInput {
		position: fixed;
		top: 0;
		background: #ffffff;
		width: 100%;

		.searchList {
			padding: 0 20px;
			font-size: 14px;
			line-height: 32px;

		}
	}
</style>
