<template>
	<div class="wrap">
		<div class="wrap-item">
			<van-cell-group inset>
				<van-field v-model="name" label="姓名" placeholder="请输入" readonly="readonly" />
				<van-field v-model="tel" type="tel" label="手机号码" readonly="readonly" />
				<van-field v-model="card" type="text" label="身份证" readonly="readonly" />
				<van-field v-model="hjdz" type="text" label="户籍地址" readonly="readonly" />
				<van-field v-model="interviewTime" type="text" label="走访日期" placeholder="点击选择日期" clickable readonly
					@click="showCalendar = true" />
				<van-field v-model="participantName" type="text" label="参与人员" placeholder="请输入" />
			</van-cell-group>
			<van-notice-bar color="#1989fa" background="#ecf9ff">
				个人状况信息
			</van-notice-bar>
			<van-cell-group inset>
				<van-field v-model="perIncome" label="月收入" placeholder="请输入" />
				<van-field v-model="perJob" type="text" label="职业" placeholder="请输入" />
				<van-field v-model="perHealth" type="text" label="身体状况" placeholder="请输入" />
			</van-cell-group>
			<van-notice-bar color="#1989fa" background="#ecf9ff">
				家庭成员信息
			</van-notice-bar>
			<van-cell-group inset>
				<van-field label="家庭成员状况" readonly right-icon="arrow" @click="adsf" />
				<van-field v-model="homeIncome" type="text" label="家庭月收入" placeholder="请输入" />
			</van-cell-group>
			<van-notice-bar color="#1989fa" background="#ecf9ff">
				帮扶措施
			</van-notice-bar>
			<van-collapse v-model="activeNames">
				<van-collapse-item title="就业创业" name="1">
					<div class="chekboxGrop" @click="chooseType($event, index, 'jycy')" v-for="(item, index) in jycyArr"
						:key="index">
						<label :for="item.text" :title="item.text">
							{{item.text}}
							<input type="checkbox" :value="item.value" :id="item.text" v-model="measureWork" />
						</label>
					</div>

					<!-- <van-checkbox-group v-model="measureWork" @change="togglejycy" ref="jycy">
						<van-cell-group>
							<van-cell title="工厂打工">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="日结散工">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="自主摆摊">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" />
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group> -->
					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureWork_text" type="text" class="otherInput" placeholder="请输入">
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
				<van-collapse-item title="困难救助" name="2">
					<div class="chekboxGrop" @click="chooseType($event, index, 'knjz')" v-for="(item, index) in knjzArr"
						:key="index">
						<label :for="item.text" :title="item.text">
							{{item.text}}
							<input type="checkbox" :value="item.value" :id="item.text" v-model="measureRescue" />
						</label>
					</div>
					<!-- <van-checkbox-group v-model="measureRescue" @change="toggleknjz" ref="knjz">
						<van-cell-group>
							<van-cell title="低保">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="特困">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="临时救助">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" />
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group> -->
					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureRescue_text" type="text" class="otherInput" placeholder="请输入">
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
				<van-collapse-item title="技能培训" name="3">
					<div class="chekboxGrop" @click="chooseType($event, index, 'jnpx')" v-for="(item, index) in jnpxArr"
						:key="index">
						<label :for="item.text" :title="item.text">
							{{item.text}}
							<input type="checkbox" :value="item.value" :id="item.text" v-model="measureSkill" />
						</label>
					</div>
					<!-- <van-checkbox-group v-model="measureSkill" @change="togglejnpx" ref="jnpx">
						<van-cell-group>
							<van-cell title="粤菜师傅">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="广东技工">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="南粤家政">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="创业培训">
								<template #right-icon>
									<van-checkbox name="4" ref="checkboxes" />
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group> -->

					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureSkill_text" type="text" class="otherInput" placeholder="请输入">
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
				<van-collapse-item title="创业贷款" name="4">
					<div class="chekboxGrop" @click="chooseType($event, index, 'cydk')" v-for="(item, index) in cydkArr"
						:key="index">
						<label :for="item.text" :title="item.text">
							{{item.text}}
							<input type="checkbox" :value="item.value" :id="item.text" v-model="measureLoan" />
						</label>
					</div>
					<!-- <van-checkbox-group v-model="measureLoan" @change="togglecydk" ref="cydk">
						<van-cell-group>
							<van-cell title="小额贷款">
								<template #right-icon>
									<van-checkbox name="1" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="启动资金">
								<template #right-icon>
									<van-checkbox name="2" ref="checkboxes" />
								</template>
							</van-cell>
							<van-cell title="流动资金">
								<template #right-icon>
									<van-checkbox name="3" ref="checkboxes" />
								</template>
							</van-cell>
						</van-cell-group>
					</van-checkbox-group> -->
					<div class="othlinst">
						<van-row>
							<van-col span="6">
								<span class="otherName">其他</span>
							</van-col>
							<van-col span="18">
								<input v-model="measureLoan_text" type="text" class="otherInput" placeholder="请输入">
							</van-col>
						</van-row>
					</div>
				</van-collapse-item>
			</van-collapse>
			<van-cell class="changeAddress" :title="addrLocation" icon="location-o" is-link @click="changeAddress" />

			<van-field class="issb" name="radio" label="是否需要上报事件">
				<template #input>
					<van-radio-group v-model="reportEvent" direction="horizontal">
						<van-radio name="1">是</van-radio>
						<van-radio name="0">否</van-radio>
					</van-radio-group>
				</template>
			</van-field>
			<div class="plaeText">填写走访内容描述</div>
			<van-field v-model="interviewContent" rows="4" autosize label="" type="textarea" maxlength="500"
				placeholder="填写走访内容" show-word-limit class="messagebox" />
			<div class="pz">
				<div class="pzzp">
					<van-row>
						<van-col span="12">
							<div class="zxj">
								<van-uploader :before-read="beforeRead" v-model="fileList" capture="camera"
									accept="image/*" :after-read="afterRead">
									<div class="fontIcon">
										<span class="iconfont icon-shumajiadian"></span>
										<!-- <img src="@/assets/zxj.png" alt=""> -->
									</div>
									<div>拍照</div>
								</van-uploader>

							</div>
						</van-col>
						<van-col span="12">
							<div class="xc">
								<van-uploader :before-read="beforeRead" v-model="fileList" multiple :max-count="10"
									accept="image/*" :after-read="afterRead">
									<div class="fontIcon">
										<!-- <img src="@/assets/xc.png" alt=""> -->
										<span class="iconfont icon-tukuxiangce"></span>
									</div>
									<div>相册</div>
								</van-uploader>
							</div>
						</van-col>
					</van-row>
				</div>
			</div>
			<div class="imgList">
				<van-row type="flex">
					<van-col span="8" v-for="(item,index) in fileList" :key="index">
						<van-icon
							class="close van-badge__wrapper van-icon van-icon-cross van-uploader__preview-delete-icon"
							name="clear" @click="del(item,index)" />
						<img :src="item.content" alt="">
					</van-col>
				</van-row>
			</div>
			<van-button class="submitBtn" type="info" block @click="add">提交</van-button>
		</div>

		<van-overlay :show="show">
			<van-icon class="closeOverly" name="close" size="40" color="#ffffff" @click="show = false" />
			<div class="wrapper">

				<div class="block">
					<div class="title">家庭成员</div>
					<table style="table-layout:fixed;" bordercolor="#f5f5f5" border="1" width="100%" cellspacing="0"
						cellpadding="12">
						<tbody>
							<tr>
								<td>关系</td>
								<td>姓名</td>
								<td>年龄</td>
								<td>月收入</td>
								<td>健康状况</td>
							</tr>
							<tr v-for="(item,index) in family" :key="index">
								<td><input type="text" v-model="item.homeRelation" style="width: 100%;border: none;">
								</td>
								<td><input type="text" v-model="item.name" style="width: 100%;border: none;"></td>
								<td><input type="text" v-model="item.age" style="width: 100%;border: none;"></td>
								<td><input type="text" v-model="item.monthIncome" style="width: 100%;border: none;">
								</td>
								<td><input type="text" v-model="item.health" style="width: 100%;border: none;"></td>
							</tr>
						</tbody>
					</table>
					<div style="text-align: center;padding: 20px 0; font-size: 14px;}" v-if="family.length == 0">暂无记录
					</div>
					<div class="btn" style="padding-top: 20px;">
						<van-row gutter="20" style="text-align: center;">
							<van-col span="12">
								<van-button plain hairline size="small" type="info" @click="addFamily">添加一行</van-button>
							</van-col span="12">
							<van-button plain hairline size="small" type="danger" @click="removeFamily">删除一行
							</van-button>
						</van-row>
						<van-row style="padding-top: 20px;">
							<van-col span="24">
								<van-button type="info" block @click="familyAdd">提交</van-button>
							</van-col>
						</van-row>
					</div>
				</div>
			</div>
		</van-overlay>


		<!-- 弹出地图选择 -->
		<!-- <van-popup v-model="showMap" position="right" :style="{ height: '100%',width:'100%' }"> -->
		<!-- <qq-map :map-key="mapKey" :key-name="keyName" @callback="callback" @hideMap="showMap = false"></qq-map> -->
		<!--               :lat="settings.store_latitude"
		              :lng="settings.store_longitude" -->
		<!-- </van-popup> -->
		<van-popup v-model="showMap" :style="{ height: '100%',width:'100%' }" position="right">
			<TXmap @mapBut="mapBut"></TXmap>
		</van-popup>
		<van-calendar v-model="showCalendar" @confirm="onConfirm" />
	</div>
</template>

<script>
	import QqMap from '../components/Qqmap.vue'
	import TXmap from './txmap.vue'

	export default {
		data() {
			return {
				mapKey: '7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR',
				keyName: '钉钉定位',
				activeNames: ['1', '2', '3', '4'],
				interviewContent: '',
				radio: '1',
				name: this.$route.query.xm,
				tel: this.$route.query.lxdh,
				card: this.$route.query.sfzhm,
				interviewTime: '',
				hjdz: this.$route.query.xzdz,
				participantName: '民辅警',
				perIncome: '',
				perJob: '',
				perHealth: '',
				homeIncome: '',
				jtstzk: '',
				qt: '',
				fileList: [],
				show: false,
				measureWork: [],
				measureWork_text: '',
				measureRescue: [],
				measureRescue_text: '',
				measureSkill: [],
				measureSkill_text: '',
				measureLoan: [],
				measureLoan_text: '',
				addrLng: '',
				addrLat: '',
				addrLocation: '选择位置',
				reportEvent: '0',
				showMap: false,
				showCalendar: false,
				mapData: {
					address: '选择位置',
					lng: '',
					lat: ''
				},
				address_info: {
					address_latitude: '',
					address_longitude: '',
					area_info_detail: '',
					address_detail: '',
					area_info: '',
					province_id: '',
					city_id: '',
					area_id: ''
				},
				family: [
					// {
					// 	relation: '',
					// 	name: '',
					// 	age: '',
					// 	job: '',
					// 	income: '',
					// 	health: ''
					// }
				],
				measureType: '',
				checkValue: '',
				jycyArr: [{
						text: '工厂打工',
						value: '1'
					},
					{
						text: '日结散工',
						value: '2'
					},
					{
						text: '自主摆摊',
						value: '3'
					}
				],
				knjzArr: [{
						text: '低保',
						value: '1'
					},
					{
						text: '特困',
						value: '2'
					},
					{
						text: '临时救助',
						value: '3'
					}
				],
				jnpxArr: [{
						text: '粤菜师傅',
						value: '1'
					},
					{
						text: '广东技工',
						value: '2'
					},
					{
						text: '南粤家政',
						value: '3'
					},
					{
						text: '创业培训',
						value: '4'
					}
				],
				cydkArr: [{
						text: '小额贷款',
						value: '1'
					},
					{
						text: '启动资金',
						value: '2'
					},
					{
						text: '流动资金',
						value: '3'
					}
				]


			}
		},
		components: {
			QqMap,
			TXmap
		},
		methods: {
			chooseType(e, index, type) {
				if (type == 'jycy') {
					this.measureRescue = []
					this.measureSkill = []
					this.measureLoan = []
					this.measureRescue_text = ''
					this.measureSkill_text = ''
					this.measureLoan_text = ''
					this.checkValue = 'jycy'
					this.measureType = '1121'
					if (e.target.checked) {
						this.measureWork.push(e.target.defaultValue);
					} else {
						this.measureWork = this.measureWork.filter(
							(item) => item != e.target.defaultValue
						);
					}
					//console.log(this.measureWork.join(",")+`_${this.measureWork_text}`)
				}
				if (type == 'knjz') {
					this.measureWork = []
					this.measureSkill = []
					this.measureLoan = []
					this.measureWork_text = ''
					this.measureSkill_text = ''
					this.measureLoan_text = ''
					this.checkValue = 'knjz'
					this.measureType = '11260'
					if (e.target.checked) {
						this.measureRescue.push(e.target.defaultValue);
					} else {
						this.measureRescue = this.measureRescue.filter(
							(item) => item != e.target.defaultValue
						);
					}
				}

				if (type == 'jnpx') {
					this.measureWork = []
					this.measureRescue = []
					this.measureLoan = []
					this.measureWork_text = ''
					this.measureRescue_text = ''
					this.measureLoan_text = ''
					this.checkValue = 'jnpx'
					this.measureType = '11261'
					if (e.target.checked) {
						this.measureSkill.push(e.target.defaultValue);
					} else {
						this.measureSkill = this.measureSkill.filter(
							(item) => item != e.target.defaultValue
						);
					}
				}

				if (type == 'cydk') {
					this.measureWork = []
					this.measureRescue = []
					this.measureSkill = []
					this.measureWork_text = ''
					this.measureRescue_text = ''
					this.measureSkill_text = ''
					this.checkValue = 'cydk'
					this.measureType = '11262'
					if (e.target.checked) {
						this.measureLoan.push(e.target.defaultValue);
					} else {
						this.measureLoan = this.measureLoan.filter(
							(item) => item != e.target.defaultValue
						);
					}
				}
			},

			//添加一行
			addFamily() {
				// if(this.family.length >= 10) {
				// 	this.$toast('最多添加10条')
				// 	return
				// }
				let date = new Date()
				let year = date.getFullYear()
				let mounth = date.getMonth() + 1
				let day = date.getDate()
				let h = date.getHours()
				let m = date.getMinutes()
				let s = date.getSeconds()
				let createTime = `${year}-${mounth}-${day} ${h}:${m}:${s}`
				this.family.push({
					"bfdxId": this.$route.query.id, //帮扶对象id
					"homeRelation": "", //关系
					"name": "", //姓名
					"age": "", //年龄
					"monthIncome": "", //月收入
					"health": "", //健康状况
				})
			},
			//删除一行
			removeFamily() {
				this.family.splice(this.family.length - 1, 1)
			},
			adsf() {
				this.show = true;
			},
			//删除照片
			del(obj, idx) {
				this.fileList.splice(idx, 1)
			},
			//就业创业复选框
			togglejycy(value) {
				console.log(this.measureWork)
				// if (value) {
				// 	//this.measureWork = value
				// 	this.measureRescue = [];
				// 	this.measureRescue_text = '';
				// 	this.measureSkill = [];
				// 	this.measureSkill_text = '';
				// 	this.measureLoan = [];
				// 	this.measureLoan_text = ''
				// }
				// this.measureRescue = [];
				// this.measureSkill = [];
				// this.measureLoan = [];
				this.measureType = '80496'
				//console.log(this.measureWork)
			},
			//困难救助复选框
			toggleknjz(value) {
				// if (value) {
				// 	//this.measureRescue = value
				// 	this.measureWork = []
				// 	this.measureWork_text = ''
				// 	//this.measureRescue = '';
				// 	//this.measureRescue_text = '';
				// 	this.measureSkill = [];
				// 	this.measureSkill_text = '';
				// 	this.measureLoan = [];
				// 	this.measureLoan_text = ''
				// }
				// //this.$refs.knjz.toggleAll(false)
				// this.$refs.jnpx.toggleAll(false)
				// this.$refs.cydk.toggleAll(false)
				this.measureType = '80497'
				//console.log(this.measureRescue)
			},
			//技能培训复选框
			togglejnpx(value) {
				// if (value) {
				// 	this.measureWork = [];
				// 	this.measureWork_text = ''
				// 	this.measureRescue = [];
				// 	this.measureRescue_text = '';
				// 	//this.measureSkill = value;
				// 	//this.measureSkill_text = '';
				// 	this.measureLoan = [];
				// 	this.measureLoan_text = ''
				// }
				// this.$refs.jycy.toggleAll(false)
				// this.$refs.knjz.toggleAll(false)
				// //this.$refs.jnpx.toggleAll(false)
				// this.$refs.cydk.toggleAll(false)
				this.measureType = '80498'
				//console.log(this.measureSkill)
			},
			//创业贷款复选框
			togglecydk(value) {
				// if (value) {
				// 	this.measureWork = [];
				// 	this.measureWork_text = ''
				// 	this.measureRescue = [];
				// 	this.measureRescue_text = '';
				// 	this.measureSkill = [];
				// 	this.measureSkill_text = '';
				// 	//this.measureLoan = value;
				// 	//this.measureLoan_text = ''
				// }
				// this.$refs.cyjy.toggleAll(false)
				// this.$refs.knjz.toggleAll(false)
				// this.$refs.jnpx.toggleAll(false)
				//this.$refs.cydk.toggleAll(false)
				this.measureType = '80499'
				//console.log(this.measureLoan)
			},
			onConfirm(date) {
				this.interviewTime =
					`${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`;
				this.showCalendar = false;
			},
			//上传前处置
			beforeRead(file) {
				if (file.length > 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (this.fileList.length >= 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (this.fileList.length + file.length > 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (file.length >= 2) {
					for (let i = 0; i < file.length; i++) {
						if (file[i].type !== 'image/jpeg' && file[i].type !== 'image/png') {
							this.$toast('请上传 jpg格式图片');
							return false;
						}
						return true;
					}
				} else {
					if (file.type !== 'image/jpeg' && file.type !== 'image/png') {
						this.$toast('请上传 jpg格式图片');
						return false;
					}
					return true;
				}


			},
			afterRead(file) {
				console.log(this.fileList)
				if (file.length > 0) {
					file.forEach(item => {
						let File = item.file
						let data = new FormData()
						data.append('file', File)
						data.append('type', File.type)
						this.$api.fileUpload(data).then(res => {
							if (res.code == '200') {
								this.$toast(res.message)
							}
						}).catch(error => {
							console.log(error)
						})
					})
				} else {
					let File = file.file
					let data = new FormData()
					data.append('file', File)
					data.append('type', File.type)
					this.$api.fileUpload(data).then(res => {
						if (res.code == '200') {
							this.$toast(res.message)
						}
					}).catch(error => {
						console.log(error)
					})
				}

			},
			//选择位置
			changeAddress() {
				this.showMap = true
				// this.$router.push({
				// 	path: '/txmap'
				// })
			},
			mapBut(value) {
				this.addrLng = value.longitude;
				this.addrLat = value.latitude;
				this.addrLocation = value.address;
				this.showMap = false
				console.log(value)
			},
			add() {
				let value = ''
				if (this.checkValue == 'jycy') {
					value = `${this.checkValue}~` + `${this.measureWork.join(",")}` +
						`${this.measureWork_text && this.measureWork.length > 0  ? '_' + this.measureWork_text : this.measureWork_text}`
				}
				if (this.checkValue == 'knjz') {
					value = `${this.checkValue}~` + `${this.measureRescue.join(",")}` +
						`${this.measureRescue_text  && this.measureRescue.length > 0 ? '_' + this.measureRescue_text : this.measureRescue_text}`
				}
				if (this.checkValue == 'jnpx') {
					value = `${this.checkValue}~` + `${this.measureSkill.join(",")}` +
						`${this.measureSkill_text  && this.measureSkill.length > 0 ? '_' + this.measureSkill_text : this.measureSkill_text}`
				}
				if (this.checkValue == 'cydk') {
					value = `${this.checkValue}~` + `${this.measureLoan.join(",")}` +
						`${this.measureLoan_text  && this.measureLoan.length > 0 ? '_' + this.measureLoan_text : this.measureLoan_text}`
				}
				
				if(this.addrLocation == '选择位置'){
					this.$toast('请选择当前走访位置')
					return
				}
				let params = {
					"userId": JSON.parse(localStorage.getItem('userInfo')).userid, //党员/用户id
					"bfdxId": this.$route.query.id, //帮扶对象id
					"bfdxdyId": this.$route.query.bfdxdyId, //帮扶对象党员id
					"interviewTime": this.interviewTime, //走访日期
					"participantName": this.participantName, //参与人员姓名
					"perIncome": this.perIncome, //个人-月收入
					"perJob": this.perJob, //个人-职业
					"perHealth": this.perHealth, //个人-身体状况
					"homeId": "", //家庭成员信息id
					"measureType": value, //帮扶措施
					// "measureWork": `${this.measureWork.join(",")}` +
					// 	`${this.measureWork_text && this.measureWork.length > 0  ? '_' + this.measureWork_text : this.measureWork_text}`, //就业创业 格式: 1,2,3_汉字
					// "measureRescue": `${this.measureRescue.join(",")}` +
					// 	`${this.measureRescue_text  && this.measureRescue.length > 0 ? '_' + this.measureRescue_text : this.measureRescue_text}`, //困难救助 格式: 1,2,3_汉字
					// "measureSkill": `${this.measureSkill.join(",")}` +
					// 	`${this.measureSkill_text  && this.measureSkill.length > 0 ? '_' + this.measureSkill_text : this.measureSkill_text}`, //技能培训 格式: 1,2,3_汉字
					// "measureLoan": `${this.measureLoan.join(",")}` +
					// 	`${this.measureLoan_text  && this.measureLoan.length > 0 ? '_' + this.measureLoan_text : this.measureLoan_text}`, //创业贷款 格式: 1,2,3_汉字
					"addrLocation": this.addrLocation, //位置
					"addrLng": this.addrLng, //位置经度
					"addrLat": this.addrLat, //位置纬度
					"reportEvent": this.reportEvent, //是否事件上报(0否 1是)
					"interviewContent": this.interviewContent, //走访内容
					"homeIncome": this.homeIncome, //家庭收入
				}
				//console.log(params)
				this.$api.getInterviewInfo(params).then(res => {
					if (res.code == '200') {
						if (this.reportEvent == 0) {
							this.$toast(res.message);
							this.$router.push({
								path: '/home',
								query: {

								}
							})
						} else {
							this.$dialog.confirm({
									title: '走访巡查记录已提交成功',
									message: '是否上报事件',
								})
								.then(() => {
									this.$router.push({
										path: '/reported',
										query: {
											'measureType': this.measureType,
											"bfdxId": this.$route.query.id,
										}
									})
								})
								.catch(() => {
									// on cancel
								});
						}

					}
				}).catch(error => {
					console.log(error)
				})


				// this.$dialog.confirm({
				// 		title: '走访巡查记录已提交成功',
				// 		message: '是否上报事件',
				// 	})
				// 	.then(() => {
				// 		// on confirm
				// 	})
				// 	.catch(() => {
				// 		// on cancel
				// 	});
			},
			// 提交家庭成员
			familyAdd() {
				let list = JSON.stringify(this.family)
				this.$api.addFamily(this.family).then(res => {
					if (res.code == '200') {
						this.$toast(res.message)
						this.show = false
					}
				}).catch(error => {

				})
			}



		},

		mounted() {
			let date = new Date()
			let year = date.getFullYear()
			let mounth = date.getMonth() + 1
			let day = date.getDate()
			let h = date.getHours()
			let m = date.getMinutes()
			let s = date.getSeconds()
			this.interviewTime = `${year}-${mounth}-${day} ${h}:${m}:${s}`
			//this.getMyLocation()
			//this.getLocation()
		}
	}
</script>

<style lang="less" scoped>
	/deep/.van-cell-group--inset {
		margin: 0;
	}

	/deep/ .van-hairline--top-bottom::after,
	.van-hairline-unset--top-bottom::after {
		//border-width: 0;
	}

	.otherInput {
		border: none;
		width: 100%;
	}

	.otherName {
		color: #000;
		padding-left: 15px;

	}

	.othlinst {
		padding: 10px 0 0px 0;
	}

	.changeAddress {
		/deep/ .van-icon {
			color: #1989fa;
		}
	}

	.issb {
		/deep/ .van-cell__title {
			width: 150px;
		}
	}

	.plaeText {
		margin: 0;
		padding: 16px 16px 8px 16px;
		color: rgba(69, 90, 100, 0.6);
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
	}

	.messagebox {
		/deep/ .van-field__value {
			border: 1px rgba(69, 90, 100, 0.1) solid;
		}

	}

	.submitBtn {}

	.pzzp {
		padding: 20px 12px 10px 12px;
		box-shadow: 0 0 28px 0 rgba(135, 146, 164, 0.12);
		border-radius: 12px;
		text-align: center;
		margin: 20px;

		img {
			width: 32px;
		}

		.zxj {
			position: relative;

			.zxjInput {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			.fontIcon {
				height: 32px;
				line-height: 32px;

				.iconfont {
					font-size: 24px;
				}
			}
		}

		.xc {
			position: relative;

			input {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				opacity: 0;
			}

			.fontIcon {
				height: 32px;
				line-height: 32px;

				.iconfont {
					font-size: 24px;
				}
			}
		}
	}

	/deep/ .van-uploader__preview {
		display: none;
	}

	.imgList {
		padding: 20px;

		// display: flex;
		// .listImg{
		// 	flex: 1;
		// 	img{
		// 		width: 100%;
		// 	}
		// }
		.van-col {
			margin-bottom: 8px;
			position: relative;
			padding: 0 8px;

			.close {
				position: absolute;
				top: -6px;
				right: 2px;
				width: 24px;
				height: 24px;
				background: rgba(0, 0, 0, .7);
				border-radius: 0 0 0 12px;
				text-align: center;
				line-height: 24px;
			}

			img {
				height: 84px;
				width: 100%;
				object-fit: cover;
			}
		}
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.block {
		width: 100%;
		height: 80%;
		background-color: #fff;
		overflow: hidden;
		overflow-y: auto;

		.title {
			height: 48px;
			line-height: 48px;
			font-size: 14px;
			padding-left: 12px;
		}

		table {
			width: 100%;

			tbody {
				tr {
					td {
						width: 100% / 6;
						text-align: center;
						padding: 4px 0;
						font-size: 14px;
						//border: 1px solid rgba(0,0,0,0.2);
					}
				}
			}
		}
	}

	.closeOverly {
		color: rgb(255, 255, 255);
		font-size: 40px;
		float: right;
		right: 0;
		position: absolute;

	}

	.chekboxGrop {
		label {
			width: 100%;
			display: inline-block;
			padding: 12px 0;
			border-bottom: 1px solid #f1f1f1;

			input {
				float: right;
				width: 18px;
				height: 18px;
				border-radius: 50%;
			}
		}
	}
</style>
