<template>
	<div class="item">
		<div class="search">
			<van-search v-model="searchValue" show-action label="" placeholder="请输入要选择的问题类型" @search="onSearch">
				<template #action>
					<div @click="onClickButton">搜索</div>
				</template>
			</van-search>
		</div>
		<div class="subclass">
			<van-row>
				<van-col span="12"><span class="headtitle">常用小类</span></van-col>
				<van-col span="12" style="text-align: right;"><span class="headtitle edit">编辑</span></van-col>
			</van-row>
		</div>
		<div class="subclassModel">
			暂无常用小类
		</div>
		<div class="subclass">
			<van-row>
				<van-col span="12"><span class="headtitle">全部类型</span></van-col>
				<van-col span="12" style="text-align: right;"><span class="headtitle edit"></span></van-col>
			</van-row>
		</div>
		<div class="treeSelect">
			<van-tree-select :items="items" :active-id.sync="activeId" :main-active-index.sync="activeIndex" />
		</div>
		<van-button type="info" block>确定</van-button>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				searchValue: '',
				items: [{
						text: '浙江',
						children: [{
								text: '温州',
								id: 1,
							},
							{
								text: '杭州',
								id: 2,
							},
						]
					},
					{
						text: '江苏',
						children: [{
								text: '苏州',
								id: 1,
							},
							{
								text: '台州',
								id: 2,
							}
						]
					},
				],
				activeId: 1,
				activeIndex: 0,
			}
		},
		methods: {
			onSearch() {

			},
			onClickButton() {

			},
			draft() {
				let params = {
					userId: '023035621421440498'
				}
				this.$api.eventsReported(params).then(res => {
					console.login(res)
				}).catch(error => {
					console.log(error)
				})
			}
		},
		mounted() {
			this.draft()
		}
	}
</script>

<style lang="less" scoped>
	.subclass {
		border-bottom: 1px solid #f1f1f1;
		height: 38px;
		line-height: 38px;

		.headtitle {
			padding: 0 12px;
		}

		.edit {
			color: orange;
		}
	}

	.subclassModel {
		color: rgba(0, 0, 0, 0.6);
		text-align: center;
		font-size: 14px;
		height: 68px;
		line-height: 68px;
		border-bottom: 1px solid #f1f1f1;
	}
</style>
