<template>
	<div class="item">
		<div class="line"></div>
		<div class="cellItem">
			<van-row>
				<van-col span="6">
					<span>问题来源</span>
					<span class="red">*</span>
				</van-col>
				<van-col span="18">
					<div class="changelet">
						<span class="changetitle">{{questionSource}}</span>
					</div>
				</van-col>
			</van-row>
		</div>
		<div class="line"></div>
		<div class="cellItem">
			<van-row>
				<van-col span="6">
					<span>问题类型</span>
					<span class="red">*</span>
				</van-col>
				<van-col span="18">
					<div class="changelet" v-if="$route.query.measureType">
						<span class="changetitle">{{querTypeName}}</span>
					</div>
					<div v-else class="changelet" @click="showQuestion = true">
						<span class="changetitle">{{querTypeName}}</span>
						<van-icon name="arrow" />
					</div>
				</van-col>
			</van-row>
		</div>
		<div class="line"></div>
		<div class="cellItem">
			<van-row>
				<van-col span="6">
					<span>问题等级</span>
					<span class="red">*</span>
				</van-col>
				<van-col span="18">
					<div class="changelet" @click="show = true">
						<span class="changetitle">{{questionName}}</span>
						<van-icon name="arrow" />
					</div>
				</van-col>
			</van-row>
		</div>
		<div class="line"></div>
		<div class="cellItem">
			<van-row style="height: auto;line-height: 26px;">
				<van-col span="6">
					<span>所在位置</span>
				</van-col>
				<van-col span="18">
					<div class="changelet">
						<span class="changetitle">{{addrLoaction}}</span>
						<van-button icon="guide-o" type="info" size="mini" class="locationBtn" @click="openMap">定位
						</van-button>
					</div>
				</van-col>
			</van-row>
			<van-row>
				<van-col span="6">
					<span>流转至</span>
				</van-col>
				<van-col span="18">
					<div class="changelet">
						<span class="changetitle">{{exchangeTo}}</span>
					</div>
				</van-col>
			</van-row>
			<van-row>
				<van-col span="6">
					<span>所属社区</span>
				</van-col>
				<van-col span="18">
					<div class="changelet">
						<span class="changetitle">{{belongCommunity}}</span>
					</div>
				</van-col>
			</van-row>
		</div>
		<div class="line"></div>
		<div class="cellItem">
			<van-field v-model="questionDesc" rows="4" autosize label="*" type="textarea" maxlength="500"
				placeholder="请填写问题描述" show-word-limit />
		</div>
		<div class="line"></div>
		<div class="tjfj">添加附件</div>
		<div class="pz">
			<div class="pzzp">
				<van-row>
					<van-col span="6">
						<div class="zxj">
							<van-uploader :before-read="beforeRead" v-model="fileList" capture="camera"
								accept="image/*">
								<div class="fontIcon">
									<!-- <img src="@/assets/zxj.png" alt=""> -->
									<span class="iconfont icon-shumajiadian"></span>
								</div>
								<div>拍照</div>
							</van-uploader>

						</div>
					</van-col>
					<van-col span="6">
						<div class="xc">
							<van-uploader :before-read="beforeRead" v-model="fileList" multiple :max-count="10"
								accept="image/*">
								<div class="fontIcon">
									<!-- <img src="@/assets/xc.png" alt=""> -->
									<span class="iconfont icon-tukuxiangce"></span>
								</div>
								<div>相册</div>
							</van-uploader>
						</div>
					</van-col>
					<van-col span="6">
						<div class="xc">
							<van-uploader accept="audio/*,.mp3,.aac,ogg,vorbis,.opus,.wav,.flac,.ape,alac,.m4a"
								v-model="audioList">
								<div class="fontIcon">
									<span class="iconfont icon-luyin"></span>
									<!-- i<img src="@/assets/ly.png" alt=""> -->
									<!-- <input type="file" accept="audio/*,.mp3"> -->
								</div>
								<div>录音</div>
							</van-uploader>
						</div>
					</van-col>
					<van-col span="6">
						<div class="xc">
							<van-uploader accept="video/*" capture="camcorder" v-model="videoList">
								<div class="fontIcon">
									<span class="iconfont icon-shexiang2"></span>
									<!-- <img src="@/assets/sx.png" alt=""> -->
								</div>
								<div>摄像</div>
							</van-uploader>
						</div>
					</van-col>
				</van-row>
			</div>
		</div>


		<div class="imgList" v-if="fileList.length > 0">
			<van-row type="flex">
				<van-col span="8" v-for="(item,index) in fileList" :key="index">
					<van-icon class="close van-badge__wrapper van-icon van-icon-cross van-uploader__preview-delete-icon"
						name="clear" @click="del(item,index)" />
					<img :src="item.content" alt="">
				</van-col>
			</van-row>
		</div>

		<div class="imgList">
			<!-- <audio src="" controls="controls">
				当前浏览器不支持audio
			</audio> -->
			<audio v-if="audioList.length > 0" :src="audioList[0].content" controls="controls">
				当前浏览器不支持audio
			</audio>
		</div>
		<div class="imgList">
			<!-- <video width="320" height="240" controls loop>
			  <source :src="videoList[0].content" type="video/mp4">
			  <source :src="videoList[0].content" type="video/ogg">
			  您的浏览器不支持 video 标签。
			</video> -->
		</div>
		<van-row>
			<van-col span="12">
				<van-button type="info" block @click="appear(1)">存草稿</van-button>
			</van-col>
			<van-col span="12">
				<van-button plain type="info" block @click="appear(0)">上报</van-button>
			</van-col>
		</van-row>

		<van-popup v-model="show" position="bottom" :style="{ height: '30%' }">
			<van-picker title="请选择" show-toolbar :columns="columns" @confirm="onConfirm" @cancel="onCancel" />
		</van-popup>
		<van-popup v-model="showQuestion" position="bottom">
			<!-- <van-row class="vantreeBtn">
			  <van-col span="12">
				  <span class="cancel" @click="hideTreepop">取消</span>
			  </van-col>
			  <van-col span="12" style="text-align: right;">
				  <span class="canfir" @click="enterPop">确定</span>
			  </van-col>
			</van-row>
			<van-tree-select :items="questionList" :active-id.sync="activeId" :main-active-index.sync="activeIndex" @click-item="treeClickItem"/> -->
			<van-picker title="请选择" show-toolbar :columns="columnslx" @confirm="onConfirmlx" @cancel="onCancellx" />
		</van-popup>


		<!-- 弹出地图选择 -->
		<van-popup v-model="showMap" position="right" :style="{ height: '100%',width:'100%' }">
			<!-- <qq-map :map-key="mapKey" :key-name="keyName" @callback="callback" @hideMap="showMap = false"></qq-map> -->
			<!--               :lat="settings.store_latitude"
		              :lng="settings.store_longitude" -->
			<TXmap @mapBut="mapBut"></TXmap>
		</van-popup>
		<van-loading size="64px" type="spinner" color="#1989fa" style="text-align: center;" v-show="isLoading"></van-loading>
	</div>
</template>

<script>
	import QqMap from '@/components/Qqmap.vue'
	import TXmap from '../txmap.vue'
	export default {
		data() {
			return {
				show: false,
				isLoading: false,
				columns: [{
						value: "2",
						text: "紧急"
					},
					{
						value: "1",
						text: "非紧急"
					}
				],
				questionDesc: '',
				fileList: [],
				videoList: [],
				show: false,
				audioList: [],
				columnslx: [{
					value: '1121',
					text: '就业创业',
					//disabled: true
				}, {
					value: '11260',
					text: '困难救助'
				}, {
					value: '11261',
					text: '技能培训'
				}, {
					value: '11262',
					text: '创业贷款'
				}],
				activeId: 1,
				activeIndex: 0,
				showQuestion: false,
				showMap: false,
				mapData: {
					address: '选择位置',
					lng: '',
					lat: ''
				},
				mapKey: '7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR',
				keyName: '钉钉定位',
				questionSource: '党员上报',
				questionSource_id: '130047',
				questionType:  this.$route.query.measureType || '1121',
				querTypeName:  this.$route.query.measureType == '1121' ? '就业创业' : this.$route.query.measureType == '11260' ? '困难救助' : this.$route.query.measureType == '11261' ? '技能培训' : this.$route.query.measureType == '11262' ? '创业贷款' : '就业创业' ,
				questionLevel: '1',
				questionName: '紧急',
				addrLoaction: '',
				addrLng: '',
				addrLat: '',
				exchangeTo: '',
				belongCommunity: '',
				sbInfo: null,
				bfdxId: ''
			}
		},
		components: {
			QqMap,
			TXmap
		},
		methods: {
			//打开地图
			openMap() {
				this.showMap = true;
			},
			// 腾讯地图选择回调
			callback(mapData) {
				console.log(mapData)
				this.showMap = false
				this.mapData.lng = mapData.latlng.lng
				this.mapData.lat = mapData.latlng.lat
				this.mapData.address = mapData.poiaddress
			},
			//腾讯地图定位获得当前位置信息
			getMyLocation() {
				var geolocation = new qq.maps.Geolocation("7DGBZ-GDPCK-K34J4-ATM3V-6642H-7EFNR", "钉钉定位");
				geolocation.getIpLocation(this.showPosition, this.showErr);
			},
			//定位成功
			showPosition(position) {
				console.warn(position)
				this.mapData.lat = position.lat;
				this.mapData.lng = position.lng;
				this.mapData.address =
					`${position.province}${position.city ? position.city : ''}${position.district ? position.district : ''}${position.addr ? position.addr : ''}`;
				//this.setMap();
			},
			//定位失败，调用定位
			showErr() {
				console.log("定位失败");
				this.getMyLocation();
			},
			onConfirm(val) {
				this.questionName = val.text;
				this.questionLevel = val.value
				this.show = false
			},
			onCancel(val) {
				this.show = false
			},
			del(obj, idx) {
				this.fileList.splice(idx, 1)
			},
			hideTreepop() {
				this.showQuestion = false
			},
			enterPop() {
				console.log(this.activeId)
			},
			treeClickItem(value) {
				console.log(value)
			},
			//问题类型
			onConfirmlx(value) {
				this.querTypeName = value.text;
				this.questionType = value.value
				this.showQuestion = false
			},
			//onCancellx
			onCancellx(value) {
				this.showQuestion = false
			},
			mapBut(value) {
				console.log(value)
				this.addrLng = value.longitude;
				this.addrLat = value.latitude;
				this.addrLoaction = value.address;
				this.belongCommunity = value.townTitle
				this.exchangeTo = value.province + value.city + value.district_q,
					// belongCommunity: ''
					this.showMap = false
			},
			//上传前处置
			beforeRead(file) {
				if (file.length >= 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (this.fileList.length >= 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (this.fileList.length + file.length > 9) {
					this.$toast('最多上传9张照片');
					return false;
				}
				if (file.length >= 2) {
					for (let i = 0; i < file.length; i++) {
						if (file[i].type !== 'image/jpeg' && file[i].type !== 'image/png') {
							this.$toast('请上传 jpg格式图片');
							return false;
						}
						return true;
					}
				} else {
					if (file.type !== 'image/jpeg' && file.type !== 'image/png') {
						this.$toast('请上传 jpg格式图片');
						return false;
					}
					return true;
				}

			},
			//上报
			appear(value) {
				this.isLoading = true
				let imgArr = []
				this.fileList.forEach(item => {
					let obj = {
						mediaName: item.file.name,
						content: item.content.replace(/^data:image\/\w+;base64,/, "")
					}
					imgArr.push(obj)
				})
				if(!this.addrLoaction) {
					this.$toast('请选择您的上报位置')
					return
				}
				if(!this.questionDesc) {
					this.$toast('请填写问题描述')
					return
				}
				let params = {
					"userId": JSON.parse(localStorage.getItem('userInfo')).userid, //走访记录id
					"questionSource": this.questionSource_id, //问题来源
					"questionType": String(this.questionType), //问题类型
					"questionLevel": this.questionLevel, //问题等级
					"addrLoaction": this.addrLoaction, //地址
					"addrLng": this.addrLng, //位置经度
					"addrLat": this.addrLat, //位置纬度
					"exchangeTo": this.exchangeTo, //流转至
					"belongCommunity": this.belongCommunity, //所属社区
					"isDraft": value,
					"questionDesc": this.questionDesc,
					"bfdxId": this.bfdxId,
					"medias": imgArr
				}
				
				this.$api.eventPort(params).then(res => {
					if (res.code == 200) {
						this.isLoading = false
						this.$toast(res.message);
					}else{
						this.isLoading = false
					}
				}).catch(error => {
					this.isLoading = false
					console.log(error)
				})
			},
			//草稿
			draft() {
				let params = {
					userId: JSON.parse(localStorage.getItem('userInfo')).userid
				}
				this.$api.eventsReported(params).then(res => {
					if (res.code == 200) {
						this.$toast(res.message);
					}
				}).catch(error => {
					console.log(error)
				})
			}
		},
		mounted() {
			//this.getMyLocation()
			this.sbInfo = JSON.parse(localStorage.getItem('dybfInfo'))
			if(this.sbInfo) {
				//this.questionDesc = `姓名：${this.sbInfo.xm} 手机号码：${this.sbInfo.lxdh} 身份证：${this.sbInfo.sfzhm} 户籍地址：${this.sbInfo.xzdz}`
				this.bfdxId = this.sbInfo.id
			}
		}
	}
</script>

<style lang="less" scoped>
	.item {
		padding-bottom: 80px;

		.line {
			height: 8px;
			background-color: rgba(0, 0, 0, 0.05);
		}

		.cellItem {
			padding: 0 12px;
			line-height: 36px;
			font-size: 14px;

			.red {
				vertical-align: middle;
				padding-left: 4px;
				color: red;
			}

			.changetitle {
				padding-right: 4px;
			}

			.changelet {
				text-align: right;
			}

			.locationBtn {
				vertical-align: middle;
			}

			/deep/.van-field__label {
				width: auto;
				color: red;

			}

			/deep/ .van-field {
				padding: 0;
			}

			/deep/ .van-row {
				height: 48px;
				line-height: 48px;
			}
		}

		.tjfj {
			padding: 0 12px;
			height: 48px;
			line-height: 48px;
		}

		.pzzp {
			padding: 20px 0px 10px 0px;
			box-shadow: 0 0 28px 0 rgba(135, 146, 164, 0.12);
			border-radius: 12px;
			text-align: center;
			margin: 0 0 20px 0;

			img {
				width: 32px;
			}

			.zxj {
				position: relative;

				.zxjInput {
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					opacity: 0;
				}

				.fontIcon {
					height: 32px;
					line-height: 32px;

					.iconfont {
						font-size: 24px;
					}
				}

			}

			.xc {
				position: relative;

				input {
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					opacity: 0;
				}

				.fontIcon {
					height: 32px;
					line-height: 32px;

					.iconfont {
						font-size: 24px;
					}
				}
			}
		}

		/deep/ .van-uploader__preview {
			display: none;
		}

		.imgList {
			padding: 20px;

			// display: flex;
			// .listImg{
			// 	flex: 1;
			// 	img{
			// 		width: 100%;
			// 	}
			// }
			.van-col {
				margin-bottom: 8px;
				position: relative;
				padding: 0 8px;

				.close {
					position: absolute;
					top: -6px;
					right: 2px;
					width: 24px;
					height: 24px;
					background: rgba(0, 0, 0, .7);
					border-radius: 0 0 0 12px;
					text-align: center;
					line-height: 24px;
				}

				img {
					height: 84px;
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.vantreeBtn {
		height: 48px;
		line-height: 48px;
		border-bottom: 1px solid #f2f2f2;

		.cancel {
			padding: 0 20px;
		}

		.canfir {
			padding: 0 20px;
		}
	}
</style>
